/*
 * Theme v1.0.0
 * Copyright 2015-2016 Theemon.com
 */
/*
 Table Of Contents
 1) General Text Formatting and Typography
 2) Site Wide Content
 3) Header Section
 4) Footer Section
 ===============================================*/
/*
 1) General Text Formatting and Typography
 ----------------------------------------*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #22272e;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 1.2;
}
h1, .h1 {
    font-size: 50px;
}
h2, .h2 {
    font-size: 24px;
    color: #2b2a2f;
    font-weight: 700;
    text-transform: uppercase;
}
h3, .h3 {
    font-size: 16px;
    font-weight: 600;
    color: #2b2a2f;
    text-transform: uppercase;
}
h4, .h4 {
    font-size: 18px;
    color: #2b2a2f;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}
h5, .h5 {
    font-size: 13px;
    font-weight: 600;
    color: #2b2a2f;
    text-transform: uppercase;
}
h6, .h6 {
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: #94949d;
}
img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    padding-left: 0px;
    margin-bottom: 0px;
}

[class^="icon-"] {
    background-image: url(../img/sprites.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

a {
    outline: none !important;
}
input, button, textarea, select, checkbox, radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}
/*----------------- Wp Default Typography ----------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,700i');
.wp-caption {
    background: #fff;
    /*border: 1px solid #f0f0f0;*/
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {
    box-shadow: 0 0 15px 4px #eaeced;
    z-index: 999;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.gallery-caption {
}

.bypostauthor {
}
/* Alignment */
.alignleft {
    display: inline;
    float: left;
    margin-right: 40px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 40px;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    border: 1px solid #d2d2d2;
    color: #000000;
    margin: 10px 0;
    width: 100%;
}

th {
    font-weight: bold;
}
td, th {
    border: 1px solid #aaaaaa;
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    padding: 5px;
    text-align: center;
}
a:hover, a:focus {
    text-decoration: none;
}
a:focus, a:active {
    outline: none;
}
img {
    max-width: 100%;
    height: auto;
}
ul, ol {
    padding-left: 15px;
}
ul li, ol li{
    font-size:13px;
    margin-bottom: 10px;
}
ul ul,ol ol{
    margin-top: 7px; 
}

/**
 * 5.4 Galleries
 * ----------------------------------------------------------------------------
 */

.gallery {
    margin-bottom: 20px;
    margin-left: -4px;
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
    display: table;
    margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
    text-align: center;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 2px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    -webkit-transition: opacity 400ms ease;
    transition:         opacity 400ms ease;
    width: 100%;
}

.gallery-caption:before {
    box-shadow: 0 -10px 15px #000 inset;
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

/*
 2) Site Wide Content
 ----------------------------------------*/
#content {
    width: 100%;
    position: relative;
}
#wrapper {
    position: relative;
    width: 100%;
}
body {
    font-size: 13px;
    line-height: 1.2;
    color: #94949d;
    font-weight: 400;
    background: #fdfdfd;
    font-family: 'Exo', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body.homepage, body.homepage-3 {
    font-family: 'Exo', sans-serif;
}
.more-btn, .consult-btn {
    color: #ee3135;
    font-family: "Exo", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    position: relative;
}
.more-btn:hover, .homepage .more-btn:active, .more-btn:focus {
    color: #ee3135;
    text-decoration: none;
    outline: none;
}

.contact-number {
    font-size: 14px;
    color: #2b2a2f;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-top: 18px;
}
.contact-number:hover, .contact-number:active {
    color: #2b2a2f;
}
.contact-number span {
    float: right;
    margin-top: 8px;
}
.icon-call {
    background-position: -104px -2px;
    display: inline-block;
    float: left;
    height: 34px;
    width: 26px;
    margin-left: 25px;
    background-image:none;
}
.view-btn:hover, .contact-attorney:hover {
    color: #fff !important;
}

/*
 3.13)Global Animations Style
 ----------------------------------------*/
.anim-section {
    position: relative;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -moz-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -o-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    visibility: visible;
    #opacity: 0
}
.anim-section.animate {
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
    opacity: 1
}
input:focus, textarea:focus, .btn:focus, .zoom img, .img-thumb img, .btn, .btn:hover, .media-listing li a:hover, .media-listing li a,a, a:hover *:hover {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.img-thumb {
    display: block;
    overflow: hidden;
}

.img-thumb:hover img, .img-thumb:focus img, .zoom:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.consult-btn i, .more-btn i,.consultation .fa-chevron-right {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.consult-btn:hover i, .more-btn:hover i,.consultation:hover .fa-chevron-right {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*---------- Comment Form -----------*/
.comment-blog-listing .comments-title .heading-details{
    font-weight: 400;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 40px;
}
.commentlist.user-comment-list{
    padding-left: 0;
}
.comment-blog-listing .user-comment h5 b{
    font-style: normal; 
}
.comment-blog-listing .user-comment h5 b a{
    color: #2b2a2f;
}
.user-comment-list .children{
    margin-left: 11.6%;
    padding-left: 0;
    list-style: none;
    clear: both;
    padding-top: 32px;
    margin-top: 0;
}
.user-comment-list li,.user-comment-list .children li{
    margin-bottom: 0;
}
.user-comment-list .children li{
    border-top: 1px solid #eaeaee;
    padding-top: 37px;
    padding-bottom: 32px;
}
.user-comment-list .children li:last-child{
    padding-bottom: 0;
}
.user-comment-list .comment-status{
    padding: 0;
    margin: 0;
}
.user-comment-list .children li .comment-status li{
    border-top: none;
    padding-bottom: 0;
}
.comment-blog-listing{
    padding-bottom: 77px;
}
.container-form{
    padding-left: 15px;
    padding-right: 15px;
}
#reply-title{
    color: #2b2a2f;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;

}
.commentlist #respond{
    clear: both;
    padding-top: 25px;
}
.comment-form .form-submit{
    clear: both;
    margin-top:0;
}
.blog-content form .logged-in-as{
    margin-top: -20px;
}
.comment-form .form-submit input[type="submit"] {
    background: #ffffff;
    border: 2px solid #2b2a2f;
    color: #ee3135;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 44px;
    line-height: 40px;
    min-width: 122px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
}

.blog-information .post-password-form input[type="submit"]:hover,.comment-form .form-submit input[type="submit"]:hover{
    color: #fff;
}

/*
 3) Header Section
 ----------------------------------------*/
.header-type-one#header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    background: #ffffff;
}
.header-type-one#header.normal {
    position: relative;
}
.header-type-one#header .primary-header {
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #e5e3ec;
}

.header-type-one#header .media-header {
    margin-top: 5px;
}
.header-type-one#header .primary-right-block {
    float: right;
    width: 100%;
    text-align: right;
}
.header-type-one .icon-enevlope {
    display: inline-block;
    height: 35px;
    width: 35px;
    float: left;
    margin-top: 3px;
}
.header-type-one#header .icon-enevlope {
    float: none;
}
.header-type-one#header .consultation {
    display: inline-block;
    text-align: right;
}
.header-type-one .consultation .fa-chevron-right{
    font-size: 8px;
    position: relative;
    top: -2px;
}
.header-type-one#header .consultation > a {
    font-size: 14px;
    color: #2b2a2f;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}
.header-type-one#header .consultation > a span {
    float: right;
    line-height: 40px;
    padding-left: 10px;
}
.header-type-one#header  .search {
    background: none;
    border: 0 none;
    color: #fff;
    float: right;
    font-size: 22px;
    margin-top: 3px;
    position: relative;
    width: 45px;
    z-index: 999;
    height: 35px;
    outline: none;
}
.header-type-one#header  .search i{
    color:#696869;
    font-size:25px;
}
.header-type-one#header  .header-search-box {
    display: block;
    right: 10px;
    top: 0;
    position: absolute;
    background: #ffffff;
    width: 0;
    overflow: hidden;
    transition: .3s all ease-in;
    opacity: 0;
}

.header-type-one#header  .header-search-box  input {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    text-transform: uppercase;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.header-type-one#header .logo {
    margin-top: 22px;
    position:relative;
}
.header-type-one .logo .svg-shape{
    position:absolute;
    top: -4px;
    left: 14px;

}
.header-type-one#header .nav {
    float: right;
    margin-top:0;
}
.header-type-one#header .nav li a {
    font-size: 15px;
    color: #79797a;
    text-transform: capitalize;
    font-weight: 600;
}
.header-type-one#header .navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
}
.header-type-one#header .navbar-default .navbar-nav > .active > a, .header-type-one#header .navbar-default .navbar-nav > .active > a:hover, .header-type-one#header .navbar-default .navbar-nav > li  a:hover, .header-type-one#header .navbar-default .navbar-nav > .active > a:focus, .header-type-one#header .nav > li:hover > a {
    background: none;
    color: #fff;
    outline: none;
}

.header-type-one#header .dropdown .caret {
    border: none;
    width: 8px;
    height: 5px;
    background: url(../img/arrow-drop.png) center top no-repeat;
}

.header-type-one#header .open-field {
    width: 100%;
    transition: .5s all ease;
    opacity: 1;
}

/*media section csss*/
.header-type-one .media-listing {
    list-style: none;
}
.header-type-one .media-listing li {
    float: left;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.header-type-one .media-listing li a {
    font-size: 18px;
    color: #c5c5c7;
}
.header-type-one .media-listing li a:hover {
    text-decoration: none;
    color: #2b2a2f;
}
/*
 sticky header style
 ------------------------------*/
body .header-type-one#header {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
body .header-type-one#header.fixed {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}
body .header-type-one#header.fixed.fix .navigation-header{
    position: fixed;
    width: 100%;
    left: 0;
    right:0;
    top: 0;
    margin:0 auto;
    background:#fff;
}
body .header-type-one#header.intelligent .navigation-header {
    position:static !important;
}
body .header-type-one#header.intelligent{
    position: fixed !important;
}
body .header-type-one#header.up {
    top: -162px;
    opacity: 0;
    visibility: hidden;
}
body .header-type-one#header.down {
    top:0;
    opacity: 1;
    visibility: visible;
}



@media only screen and (min-width:768px){
    /*Dropdown menu*/
    .header-type-one#header .navbar-nav > li * {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .header-type-one#header .navbar-default .navbar-nav > .open > a {
        background-color: transparent;
    }
    .dropdown-menu>li>a{
        padding: 3px 12px;
    }
    .header-type-one#header .dropdown-menu {
        display:none;
        opacity: 0;
    }
    .header-type-one#header .open > .dropdown-menu {
        display: none;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .header-type-one#header .navbar-nav > li:hover .dropdown-menu {
        opacity: 1;
        display: block;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .header-type-one#header .navbar-nav > li {
        padding: 10px 0;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }
    .header-type-one#header .navbar-nav > li:hover {
        background: #2a2627;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }
    .header-type-one#header .dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .header-type-one#header .nav li .dropdown-menu a {
        font-weight: 400;
    }
    .header-type-one#header .nav li .dropdown-menu li {
        padding: 5px 12px;
    }
    .header-type-one#header .navbar-nav > li > .dropdown-menu {
        min-width: 215px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #2a2627;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);
        border-bottom: 2px solid #ee3135;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}


/*================Header Type Two=======================*/



.header-type-two {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    background: #3d3c37;
}
.header-type-two#header .logo {
    margin-top: 22px;
    border-right: 1px solid #4e4d47;
    position:relative;
}
.header-type-two .logo .svg-shape {
    left: 14px;
    position: absolute;
    top: -4px;
}
.header-type-two#header .nav {
    float: left;
}
.header-type-two#header .nav li a {
    font-size: 13px;
    color: #848279;
    text-transform: uppercase;
    font-weight: 700;
}
.header-type-two#header .navbar-default {
    background: none;
    border: none;
    margin-bottom: 0;
}
.header-type-two#header .navbar-default .navbar-nav > .active > a, .header-type-two#header .navbar-default .navbar-nav > .active > a:hover, .header-type-two#header .navbar-default .navbar-nav > li  a:hover, .header-type-two#header .navbar-default .navbar-nav > .active > a:focus, .header-type-two#header .nav > li:hover > a {
    background: none;
    color: #ffffff;
    outline: none;
}

.header-type-two#header .nav li a:focus, .nav .open > a:focus {
    background-color: transparent;
}

/*media section csss*/
.header-type-two .media-listing {
    list-style: none;
}
.header-type-two .media-listing li {
    float: left;
    margin-right: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.header-type-two .media-listing li a {
    font-size: 18px;
    color: #565551;
}
.header-type-two .media-listing li a:hover {
    text-decoration: none;
    color: #e8eef1;
}
@media only screen and (min-width:768px){
    /*Dropdown menu*/
    .header-type-two .navbar-nav > li * {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .header-type-two .navbar-default .navbar-nav > .open > a {
        background-color: transparent;
    }
    .header-type-two .dropdown-menu {
        display: block;
        opacity: 0;
    }
    .header-type-two .open > .dropdown-menu {
        display: block;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .header-type-two .navbar-nav > li:hover .dropdown-menu {
        opacity: 1;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .header-type-two .navbar-nav > li {
        padding: 10px 0;
        min-height:50px;
        overflow:hidden;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
        margin-bottom: 0;
    }
    .header-type-two .navbar-nav > li:hover {
        background: #2a2627;
        overflow:visible;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }
    .header-type-two .dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .header-type-two#header .nav li .dropdown-menu a {
        font-weight: 400;
    }
    .header-type-two#header .nav li .dropdown-menu li {
        padding: 5px 12px;
    }
    .header-type-two .navbar-nav > li > .dropdown-menu {
        min-width: 215px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #2a2627;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);
        border-bottom: 2px solid #ee3135;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}
/*
 sticky header style
 ------------------------------*/
body .header-type-two#header {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
body .header-type-two#header.normal {
    position: relative;
}
body .header-type-two#header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
body .header-type-two#header.fixed.fix .navigation-header{
    position: fixed;
    width: 100%;
    left: 0;
    right:0;
    top: 0;
    margin:0 auto;
    background:#fff;
}
body .header-type-two#header.intelligent .navigation-header {
    position:static !important;
}
body .header-type-two#header.intelligent{
    position: fixed !important;
}
body .header-type-two#header.up {
    top: -162px;
    opacity: 0;
    visibility: hidden;
}
body .header-type-two#header.down {
    top:0;
    opacity: 1;
    visibility: visible;
}

.header-type-two#header .contact-number {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    display: block;
    margin-top: 27px;
}
.header-type-two#header .contact-number:hover, .header-type-two#header .contact-number:active {
    color: #ffffff;
}
.header-type-two#header .contact-number span {
    float: right;
    margin-top: 0;
}
.header-type-two#header .fa-phone-square {
    color: #ffffff;
    font-size: 16px;
    position: relative;
    left: 42px;
}
.header-type-two#header .dropdown .caret {
    display: none;
}



/*=================Header 3 style ======================*/

.header-type-three#header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right:0;
    width: 100%;

    background: #ffffff;

}
.header-type-three#header.normal{
    position:relative;
}
.header-type-three#header .logo
{
    margin-top: 32px;
    position:relative;
}
.header-type-three .logo .svg-shape {
    left: 14px;
    position: absolute;
    top: -4px;
}
.header-type-three#header .nav
{
    float: right;
    margin-top: 0;

}
.header-type-three#header .nav li a{
    font-size: 13px;
    color:#8196a0;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;


}
.header-type-three#header .nav li a:focus, .nav .open>a:focus{
    background-color:transparent;
}
.header-type-three#header .nav >li
{
    padding: 32px 12px 6px;
    border-left: 1px solid #e2e9ed;
}
.header-type-three#header .nav >li:first-child
{
    border: none;
}

.header-type-three#header .nav >li >a:after
{
    width: 25px;
    content:"";
    height: 25px;
    position: absolute;
    top: -10px;
    left: 0;
    right:0;
    margin: 0 auto;
}
.header-type-three#header .nav li.home a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -12px -182px;
}

.header-type-three#header .nav li.about a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -47px -182px;
}
.header-type-three#header .nav li.practice a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -81px -184px;
}
.header-type-three#header .nav li.attorn a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -123px -182px;
}
.header-type-three#header .nav li.news a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -157px -182px;
}
.header-type-three#header .nav li.feature a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -197px -184px;
}
.header-type-three#header .nav li.contact-menu a:after
{
    background: url(../img/sprites.png) 0 0 no-repeat;
    background-position: -227px -186px;
}
.header-type-three#header .nav li.home a:hover:after
{
    background-position: -12px -146px;
}

.header-type-three#header .nav li.about a:hover:after
{
    background-position: -53px -143px;
}
.header-type-three#header .nav li.practice a:hover:after
{
    background-position: -83px -144px;
}
.header-type-three#header .nav li.attorn a:hover:after
{
    background-position: -121px -144px;
}
.header-type-three#header .nav li.news a:hover:after
{
    background-position: -160px -145px;
}
.header-type-three#header .nav li.feature a:hover:after
{
    background-position: -196px -144px;
}
.header-type-three#header .nav li.contact-menu a:hover:after
{
    background-position: -229px -143px;
}
.header-type-three .navbar-collapse.collapse
{
    padding-right: 0;
}

.header-type-three#header .navbar-default
{
    background: none;
    border: none;
    margin-bottom:0px;
}
.header-type-three#header .navbar-default .navbar-nav > .active > a, .header-type-three#header .navbar-default .navbar-nav > .active > a:hover,.header-type-three#header .navbar-default .navbar-nav > li  a:hover, .header-type-three#header .navbar-default .navbar-nav > .active > a:focus,.header-type-three#header .nav >li:hover> a
{
    background: none;
    color:#fff;
    outline: none;
}




/*media section csss*/
.header-type-three .media-listing
{
    list-style: none;

}
.header-type-three .media-listing li{
    float:left;
    margin-right: 9px;
    padding-top: 4px;
    padding-bottom:4px;
}
.header-type-three .media-listing li a{
    font-size: 18px;
    color: #565551;

}
.header-type-three .media-listing li a:hover{
    text-decoration:none;


}

/*Dropdown menu*/
.header-type-three .navbar-default .navbar-nav>.open>a{
    background-color:transparent;
}

@media only screen and (min-width:768px){
    /*Dropdown menu*/
    .header-type-three .navbar-nav>li *{
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

    }
    .header-type-three .navbar-default .navbar-nav>.open>a{
        background-color:transparent;
    }
    .header-type-three .dropdown-menu{
        display:none;
        opacity:0;
    }
    .header-type-three .open>.dropdown-menu{
        display:none;
        opacity:0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;


    }
    .header-type-three .navbar-nav>li:hover .dropdown-menu{
        opacity:1;
        display:block;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .header-type-three .navbar-nav>li{


        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;

    }
    .header-type-three .navbar-nav>li:hover{
        background:#2a2627;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }
    .header-type-three .dropdown-menu{
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .header-type-three#header .nav li .dropdown-menu a{
        font-weight:400;
    }
    .header-type-three#header .nav li .dropdown-menu li{
        padding:5px 0;
    }
    .header-type-three .navbar-nav>li>.dropdown-menu {
        min-width: 215px;
        padding-top:15px;
        padding-bottom:15px;
        background-color: #2a2627;
        border:none;
        border-radius:0;
        -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);
        border-bottom:2px solid #ee3135;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}
/*
 sticky header style
 ------------------------------*/
body .header-type-three#header {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
body .header-type-three#header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
body .header-type-three#header.up {
    top: -162px;
    opacity: 0;
    visibility: hidden;
}
body .header-type-three#header.down {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.header-type-three#header .dropdown .caret {
    display: none;
}
#header.header-type-three .fa {
    display: block;
    font-size: 22px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: -11px;
}




/*========================== Header 4 style ============================*/
.header-type-four#header {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right:0;
    width: 100%;
    background: #ffffff;
}
.header-type-four#header .primary-header
{
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #e5e3ec;
}
.header-type-four#header.normal {
    position: relative;
}
.header-type-four#header .media-header
{
    margin-top: 5px;
}
.header-type-four#header .primary-right-block
{
    float:right;
    width: 100%;
    text-align: right;
}
.header-type-four .icon-enevlope {
    background-position: -4px 0;
    display: inline-block;
    height: 35px;
    width: 35px;
    float: left;
}
.header-type-four#header .icon-enevlope
{
    float:none;
    margin-top: 6px;
    position: relative;
    left: -19px;

}
.header-type-four#header .consultation
{
    display: inline-block;
    text-align: right;
}
.header-type-four#header .consultation > a
{
    font-size: 14px;
    color:#2b2a2f;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 600;


}
.header-type-four#header .consultation > a span
{
    float:right;
    line-height: 40px;
    padding-left: 10px;
}
.header-type-four#header  .search {
    background: url(../img/sprites.png) -48px -1px no-repeat;
    border: 0 none;
    color: #fff;
    float: right;
    font-size: 22px;
    margin-top: 3px;
    position: relative;
    width: 45px;
    z-index: 999;
    height: 35px;
    outline: none;
}
.header-type-four#header  .header-search-box
{
    display: block;
    right: 10px;
    top: 0;
    position: absolute;
    background: #ffffff;
    width: 0;
    overflow: hidden;
    transition: .3s all ease-in;
}

.header-type-four#header  .header-search-box  input{
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left:10px; 	
    text-transform: uppercase;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

.header-type-four#header .logo
{
    margin-top: 22px;
    position:relative;
}
.header-type-four .logo .svg-shape {
    left: 14px;
    position: absolute;
    top: -4px;
}
.header-type-four#header .nav
{
    float: right;

}
.header-type-four#header .nav li a{
    font-size: 15px;
    color:#79797a;
    text-transform: capitalize;
    font-weight: 600;

}
.header-type-four#header .navbar-default
{
    background: none;
    border: none;
    margin-bottom:0;
}
.header-type-four#header .navbar-default .navbar-nav > .active > a, .header-type-four#header .navbar-default .navbar-nav > .active > a:hover, .header-type-four#header .navbar-default .navbar-nav > li  a:hover, .header-type-four#header .navbar-default .navbar-nav > .active > a:focus, .header-type-four#header .nav >li:hover > a
{
    background: none;
    color:#fff;
    outline: none;
}

.header-type-four#header .dropdown .caret
{
    border: none;
    width: 8px;
    height: 5px;
    background: url(../img/arrow-drop.png) center top no-repeat;
}


.header-type-four#header .open-field
{
    width: 100%;
    transition: .5s all ease;

}

.header-type-four#header .consultation
{
    position: fixed;
    right:-250px;
    top: 25%;
    background: #e9e9ee;
    padding-left: 15px;
    transition: .4s right ease;
    padding-right: 10px;

}
.header-type-four#header .consultation:after
{
    content: "";
    border-left: 10px solid transparent;
    border-top: 21px solid #e9e9ee;
    border-right: 10px solid #e9e9ee;
    border-bottom: 20px solid #e9e9ee;
    position: absolute;
    left:-20px;
    top: 0;
}
.header-type-four#header .consultation:hover:after
{
    display: none;
}
.header-type-four#header .consultation:hover{

    right: 0;
    transition: .4s right ease;
}
@media only screen and (min-width:768px){
    /*Dropdown menu*/
    .header-type-four .navbar-default .navbar-nav>.open>a, .header-type-four .navbar-default .navbar-nav>.open>a:focus{
        background-color:transparent;
    }

    /*Dropdown menu*/
    .header-type-four .navbar-nav>li *{
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

    }
    .header-type-four .navbar-default .navbar-nav>.open>a{
        background-color:transparent;
    }
    .header-type-four .dropdown-menu{
        display:none;
        opacity:0;
    }
    .header-type-four .open>.dropdown-menu{
        display:none;
        opacity:0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;


    }
    .header-type-four .navbar-nav>li:hover .dropdown-menu{
        opacity:1;
        display:block;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .header-type-four .navbar-nav>li{
        padding:10px 0;

        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;

    }
    .header-type-four .navbar-nav>li:hover{
        background:#2a2627;
        -webkit-transition: background 0.2s ease-in-out;
        -moz-transition: background 0.2s ease-in-out;
        -ms-transition: background 0.2s ease-in-out;
        -o-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;
    }
    .header-type-four .dropdown-menu{
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .header-type-four#header .nav li .dropdown-menu a{
        font-weight:400;
    }
    .header-type-four#header .nav li .dropdown-menu li{
        padding:5px 0;
    }
    .header-type-four .navbar-nav>li>.dropdown-menu {
        min-width: 215px;
        padding-top:15px;
        padding-bottom:15px;
        background-color: #2a2627;
        border:none;
        border-radius:0;
        -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 rgba(0,0,0,0);
        border-bottom:2px solid #ee3135;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}

/*
 sticky header style
 ------------------------------*/
body .header-type-four#header {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
body .header-type-four#header.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
body .header-type-four#header.up {
    top: -162px;
    opacity: 0;
    visibility: hidden;
}
body .header-type-four#header.down {
    top: 0;
    opacity: 1;
    visibility: visible;
}
/*media section csss*/
.header-type-four .media-listing
{
    list-style: none;

}
.header-type-four .media-listing li{
    float:left;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom:4px;
}
.header-type-four .media-listing li a{
    font-size: 18px;
    color: #c5c5c7;

}
.header-type-four .media-listing li a:hover{
    text-decoration:none;
    color: #2b2a2f;

}









/*
 4) Footer Section
 ----------------------------------------*/
.footer-type-one#footer {
    width: 100%;
    background: #ffffff;
}
.footer-type-one#footer .top-footer {
    width: 100%;
    border-bottom: 1px dotted #e5e3ec;
    padding-bottom: 7px;
}
.footer-type-one#footer .nav {
    float: left;
    margin-top: 0;
}
.footer-type-one#footer .navbar-nav > li{
    padding:0 10px;
}
.footer-type-one#footer .nav li a {
    font-size: 15px;
    color: #79797a;
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.footer-type-one#footer .navbar-default {
    background: none;
    border: none;
    margin-top: 8px;
    min-height: 0;
    margin-bottom: 0;
}
.footer-type-one#footer .navbar-default .navbar-nav > .active > a, .footer-type-one#footer .navbar-default .navbar-nav > .active > a:hover, .footer-type-one#footer .navbar-default .navbar-nav > li  a:hover, .footer-type-one#footer .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #2b2a2f;
    outline: none;
}
.footer-type-one#header .nav li a:focus, .nav .open > a:focus {
    background-color: transparent;
}
.footer-type-one#footer .dropdown .caret {
    border: none;
    width: 8px;
    height: 5px;
    background: url(../img/arrow-drop.png) center top no-repeat;
}
.footer-type-one#footer .consultation {
    float: right;
}
.footer-type-one#footer .consultation > a {
    font-size: 14px;
    color: #2b2a2f;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}
.footer-type-one#footer .consultation > a span {
    float: right;
    line-height: 40px;
    padding-left: 10px;
}
.footer-type-one#footer .main-footer {
    padding-top: 45px;
    padding-bottom: 70px;
    width: 100%;
}
.footer-type-one#footer .main-footer .block-right {
    float: right;
}
.footer-type-one#footer .main-footer p.para-description {
    font-size: 12px;
}
.footer-type-one#footer .get-theme, #footer .copy-right {
    display: block;
    font-size: 12px;
    color: #2b2a2f;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 34px;
}
.footer-type-one#footer .copy-right a{
    color: #2b2a2f;
}
.footer-type-one#footer .get-theme a  {
    color: #ee3135;
}
.footer-type-one#footer .copy-right {
    text-transform: inherit;
}
.footer-type-one#footer .copy-right a:hover{
    text-decoration:none;
}
.footer-type-one#footer .icon-location {
    width: 40px;
    height: 34px;
    display: block;
    float: left;
    background-image:none;
}
.footer-type-one#footer .address-info {
    float: left;
    margin-left: 8px;
    margin-bottom: 7px;
}
.footer-type-one#footer .location {
    margin-bottom: 12px;
}
.footer-type-one#footer .address-info span {
    font-size: 14px;
    color: #79797a;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    display: block;
}
.footer-type-one#footer span.attorney-theme {
    color: #2b2a2f;
    margin-bottom: 5px;
}

.footer-type-one#footer .icon-call {
    margin: 0;
    background-image:none;

}
.footer-type-one#footer .contact-number span {
    float: left;
    margin-left: 22px;
}
.footer-type-one#footer .icon-msg {
    background-position: -58px -42px;
    width: 30px;
}
.footer-type-one#footer .contact-number {
    margin-top: 12px;
    outline: none;
}
.footer-type-one#footer .mail-info {
    margin-bottom: 20px;
}
.footer-type-one#footer .spacer-mobile .footer-logo {
    display: inline-block;
    margin-bottom: 29px;
}
.footer-type-one .footer-logo {

    position:relative;
}
.footer-type-one .footer-logo .svg-shape{
    position:absolute;
    top: -4px;
    left:0;

}
.footer-type-one#footer .spacer-mobile p {
    color: #79797a;
    font-size: 12px;
    font-family: 'Merriweather', serif;
    margin-bottom: 25px;
}
.footer-type-one#footer .practice-footer h3 {
    position: relative;
}
.footer-type-one#footer .practice-footer h3:after {
    width: 27px;
    height: 2px;
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0px;
    display: block;
    background: #b11f24;
}
.footer-type-one#footer .practice-listing ul  {
    margin-top: 33px;
    list-style: none;
    padding-left: 0;
}
.footer-type-one#footer .practice-listing li {
    margin-bottom: 20px;
}
.footer-type-one#footer .practice-listing li a {
    font-size: 14px;
    color: #79797a;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    text-decoration: none;
    outline: none;
}
.footer-type-one#footer .practice-listing li a:after{
    content:"\f054";
    float: right;
    font-size: 8px;
    margin-top: 5px;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.footer-type-one#footer .practice-listing li a:hover, .footer-type-one#footer .practice-listing li:hover:after, .footer-type-one#footer .consultation > a:hover, .footer-type-one#header .consultation > a:hover, .footer-type-one#header .contact-number:hover {
    color: #b11f24;
    outline: none;
}


.footer-type-one#footer .listing-continue ul {
    margin-top: 52px;
}
.footer-type-one#footer.mobile-line .top-footer {
    background: #E7EBF3;
    padding: 11px 0 7px;
}
.footer-type-one#footer .practice-listing a:after {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer-type-one#footer .practice-listing li a:hover:after {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*******************************************
 *  Footer Type Two style
 *******************************************/
.footer-type-two#footer {
    width: 100%;
    background: #3e3d3a;
}

.footer-type-two#footer .main-footer {
    padding-top: 100px;
    padding-bottom: 70px;
    width: 100%;
}
.footer-type-two .footer-logo{
    position:relative;
}
.footer-type-two .footer-logo .svg-shape {
    left: 0;
    position: absolute;
    top: -4px;
}
.footer-type-two#footer .get-theme, .footer-type-two#footer .copy-right {
    display: block;
    font-size: 14px;
    color: #6e6c68;
    margin-top: 20px;
    line-height: 22px;
}
.footer-type-two#footer .copy-right a,.footer-type-two#footer .get-theme a{
    color: #6e6c68;
}
.footer-type-two#footer .copy-right a:hover,.footer-type-two#footer .get-theme a:hover{
    text-decoration:underline;
}
.footer-type-two#footer h3 {
    position: relative;
    color: #e4e2d7;
}
.footer-type-two#footer  h3:after {
    width: 27px;
    height: 2px;
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0px;
    display: block;
    background: #b3a96c;
}
.footer-type-two#footer .practice-listing ul {
    margin-top: 22px;
    list-style: none;
}
.footer-type-two#footer .practice-listing ul li {
    margin-bottom: 18px;
}
.footer-type-two#footer .practice-listing ul li a {
    font-size: 14px;
    color: #8b8983;
    display: block;
    text-decoration: none;
    position: relative;
    padding-left:15px;
}
.footer-type-two#footer .practice-listing ul li a:before{
    content:"\f054";
    float: left;
    font-size: 8px;
    margin-top: 5px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
}
.footer-type-two#footer .listing-continue ul {
    margin-top: 40px;
}
.footer-type-two#footer .location, #footer .contact-number span {
    font-size: 14px;
    color: #8b8983;
    margin-top: 20px;
    float: none;
    text-decoration: none;
    font-weight: normal;
}
.footer-type-two#footer .contact-number span:before {
    content: 'Phone : ';
    color: #e8eef1;
    text-transform: capitalize;
}
.footer-type-two#footer .contact-num.mail-info  span:before {
    content: 'Phone : ';
    color: #e8eef1;
    text-transform: capitalize;
}
.footer-type-two#footer .location span, #footer .contact-num span {
    text-transform: capitalize;
    color: #e8eef1;
}
.footer-type-two#footer .location strong {
    display: block;
    font-weight: 400;
}
.footer-type-two#footer .contact-num {
    margin-top: 35px;
    display: block;
}
.footer-type-two#footer .mail-info {
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer-type-two#footer .practice-listing ul li a:before {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer-type-two#footer .practice-listing li a:hover:before {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/**************************************************
 *   Footer Type Three style
 **************************************************/
.footer-type-three#footer {
    width: 100%;
    background: #34424a;
}

.footer-type-three#footer .main-footer
{
    padding-top: 109px;
    padding-bottom: 70px;
    width: 100%;
}
.footer-type-three .footer-logo{
    position:relative;
}
.footer-type-three .footer-logo .svg-shape {
    left: 0;
    position: absolute;
    top: -4px;
}
.footer-type-three#footer .get-theme , .footer-type-three#footer .copy-right
{
    display: block;
    font-size: 14px;
    color:#677881;
    margin-top:30px;
    line-height: 22px;
    text-transform: inherit;
}
.footer-type-three#footer .get-theme a , .footer-type-three#footer .copy-right a{
    color:#677881;
}
.footer-type-three#footer .get-theme a:hover , .footer-type-three#footer .copy-right a:hover{
    text-decoration:none;
}


.footer-type-three#footer h3

{
    position: relative;
    color:#ced8dd;
}
.footer-type-three#footer  h3:after
{
    width: 27px;
    height: 2px;
    content: "";
    position: absolute;
    bottom:-12px;
    left:0px;
    display: block;
    background: #b3a96c;
}
.footer-type-three#footer .practice-listing ul
{
    margin-top: 39px;
    list-style: none;
}
.footer-type-three#footer .practice-listing li
{
    margin-bottom: 18px;

}
.footer-type-three#footer .practice-listing li a
{
    font-size: 14px;
    color:#677881;
    display:inline-block;
    text-decoration: none;
    text-transform: inherit;
    outline: none;
    position: relative;
    padding-left:15px;
}
.footer-type-three#footer .practice-listing ul li a:before{
    content:"\f054";
    float: left;
    font-size: 8px;
    margin-top: 5px;
    margin-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size: 8px;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
}
.footer-type-three#footer .listing-continue ul {
    margin-top:60px;
}



.footer-type-three#footer .location, .footer-type-three#footer .contact-number span {
    font-size: 14px;
    color:#677881;
    margin-top: 35px;
    float:none;
    text-decoration: none;
    line-height: 25px;
}
.footer-type-three#footer .contact-number span:before {
    content: 'Phone : ';
    color: #e8eef1;
    text-transform: capitalize;
}
.footer-type-three#footer .contact-number.mail-info span:before {
    content: 'Email : ';
}
.footer-type-three#footer .contact-num.mail-info  span:before {
    content: 'Phone : ';
    color: #e8eef1;
    text-transform: capitalize;
}
.footer-type-three#footer .address-info span {
    content: 'Phone : ';
    color: #e8eef1;
    text-transform: capitalize;
}



.footer-type-three#footer .location .address ,  .footer-type-three#footer .contact-num span{
    text-transform: capitalize;
    color:#e8eef1;
}
.footer-type-three#footer .location strong{
    display: block;
    font-weight: 400;
}
.footer-type-three#footer .contact-num
{	margin-top: 30px;
  display: block;
}
.footer-type-three#footer .mail-info
{
    margin-top: 2px;
    margin-bottom: 21px;
}
.footer-type-three#footer .media-listing li a
{
    color:#7b8f9a;
}

.footer-type-three#footer .media-listing li
{
    margin-right: 15px;
}
.footer-type-three#footer .practice-listing li a:before {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer-type-three#footer .practice-listing li a:hover:before {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/**********************************
 *  footer type four style
 ***********************************/
.footer-type-four#footer {
    width: 100%;
    background: #ffffff;
}
.footer-type-four#footer .top-footer
{
    width: 100%;
    border-bottom: 1px dotted #e5e3ec;
}
.footer-type-four#footer .nav
{
    float: left;
    margin-top: 3px;
}
.footer-type-four#footer .nav li a{
    font-size: 15px;
    color:#79797a;
    text-transform: capitalize;
    font-weight: 600;

}
.footer-type-four#footer .navbar-default
{
    background: none;
    border: none;
    margin-bottom:3px;
}
.footer-type-four#footer .navbar-default .navbar-nav > .active > a, .footer-type-four#footer .navbar-default .navbar-nav > .active > a:hover, .footer-type-four#footer .navbar-default .navbar-nav > li  a:hover, .footer-type-four#footer .navbar-default .navbar-nav > .active > a:focus
{
    background: none;
    color:#2b2a2f;
    outline: none;
}
.footer-type-four#footer .dropdown .caret
{
    border: none;
    width: 8px;
    height: 5px;
    background: url(../img/arrow-drop.png) center top no-repeat;
}
.footer-type-four#footer .consultation
{
    float:right;
    margin-top: 8px;
}
.footer-type-four#footer .consultation > a
{
    font-size: 14px;
    color:#2b2a2f;
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 600;


}
.footer-type-four#footer .consultation > a span
{
    float:right;
    line-height: 40px;
    padding-left: 10px;
}
.footer-type-four#footer .main-footer
{
    padding-top: 45px;
    padding-bottom: 70px;
    width: 100%;
}
.footer-type-four#footer .main-footer p.para-description
{
    font-size: 12px;
} 
.footer-type-four#footer .get-theme ,#footer .copy-right
{
    display: block;
    font-size: 12px;
    color:#2b2a2f;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 34px;
}
.footer-type-four#footer .get-theme a{
    color:#ee3135;
}
.footer-type-four#footer .copy-right
{
    text-transform: inherit;
}
.footer-type-four#footer .icon-location
{
    width: 40px;
    height: 34px;
    display: block;
    float:left;
    background-position: -6px -41px;
    background:none;
}
.footer-type-four#footer .address-info
{
    float:left;
    margin-left: 8px;

}
.footer-type-four#footer .location
{
    margin-bottom:12px;
}
.footer-type-four#footer .address-info span{
    font-size: 14px;
    color:#79797a;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    display: block;
}
.footer-type-four#footer span.attorney-theme
{
    color:#2b2a2f;
}

.footer-type-four#footer .icon-call{
    margin: 0;
}
.footer-type-four#footer .contact-number span
{
    float:left;
    margin-left: 22px;
}
.footer-type-four#footer .icon-msg {
    background-position: -58px -42px;
    width: 30px;
}
.footer-type-four#footer .contact-number
{
    margin-top: 12px;
    outline: none;
}
.footer-type-four#footer .mail-info
{
    margin-bottom: 20px;
}
.footer-type-four#footer .practice-footer h3

{
    position: relative;
}
.footer-type-four#footer .practice-footer h3:after
{
    width: 27px;
    height: 2px;
    content: "";
    position: absolute;
    bottom: -5px;
    left:0px;
    display: block;
    background: #b11f24;
}
.footer-type-four#footer .practice-listing ul 
{
    margin-top: 22px;
    list-style: none;
}
.footer-type-four#footer .practice-listing ul li
{
    margin-bottom: 18px;
}
.footer-type-four#footer .practice-listing ul li a
{
    font-size: 14px;
    color:#79797a;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    text-decoration: none;
    outline: none;
}

.footer-type-four#footer .practice-listing li a:hover , .footer-type-four#footer .practice-listing li:hover .fa-chevron-right ,.footer-type-four#footer .consultation > a:hover ,#header .consultation > a:hover ,#header .contact-number:hover{
    color:#b11f24;
    outline:none;
}

.footer-type-four#footer .practice-listing ul li a:after {
    content:"\f054";
    float:right;
    margin-top: 5px;
    margin-top: 5px;
    margin-right: 15px;
    display:inline-block;
    font:normal normal normal 8px/1 FontAwesome;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    transform:translate(0, 0);
}
.footer-type-four#footer .listing-continue ul {
    margin-top:40px;
}


.footer-type-four#footer .main-footer
{
    padding-top: 52px;
}
.footer-type-four#footer .main-footer .footer-logo
{
    display: block;
    margin-bottom: 18px;
    position:relative;
}
.footer-type-four .footer-logo .svg-shape {
    left: 0;
    position: absolute;
    top: -4px;
}
.footer-type-four#footer .main-footer .para-description
{
    margin-bottom: 8px;
    width: 78%;
}
.footer-type-four#footer .main-footer .location
{
    margin-top: 30px;
}
.footer-type-four#footer .address-info
{
    margin-left: 0;
    margin-top: 7px;
    width: 78%;
}
.footer-type-four#footer .contact-number span
{
    margin-left: 13px;
    margin-top: 10px;
}
.footer-type-four#footer .contact-number
{
    margin-top: 15px;

}
.footer-type-four#footer .media-listing li
{
    margin-right: 14px;
}
.footer-type-four#footer .practice-listing ul
{
    margin-top: 31px;
}
.footer-type-four#footer .practice-listing li a{
    text-transform: inherit;
}
.footer-type-four#footer .practice-listing li
{
    margin-bottom: 19px;
}
.footer-type-four#footer .practice-footer h3:after
{
    bottom: -11px;
    background: #ee3135;
}

.footer-type-four#footer .practice-listing li.active a{
    color: #2b2a2f;
}

.footer-type-four#footer form{

    margin-top: 33px;
}
.footer-type-four#footer .footer-form{
    position:relative;
}
.footer-type-four#footer input[type="text"], .footer-type-four#footer input[type="email"], .footer-type-four#footer input[type="url"], .footer-type-four#footer input[type="number"], .footer-type-four#footer textarea {
    width: 100%;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    color:#79797a;
    border: 1px solid #e5e3ec;
    margin-bottom: 16px;
    padding:10px;
}
.footer-type-four#footer textarea
{
    min-height: 100px;
    resize: none;
}
.footer-type-four#footer input[type="submit"] {
    color: #ffffff;
    font-weight: 700;
    line-height: 48px;
    margin-top: 4px;
    min-height: 48px;
    min-width: 170px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    background: #2b2a2f;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-type-four#footer .copy-right
{
    text-align: center;
    font-size: 14px;
    color:#79797a;
    margin-top: 56px;
    font-weight: 600;
    display: block;
}
.footer-type-four#footer .copy-right a{
    color:#79797a;
}
.footer-type-four#footer .copy-right a:hover{
    text-decoration:none;
}
.footer-type-four#footer .practice-listing li a:after {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.footer-type-four#footer .practice-listing li a:hover:after{
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}






















/*------------------- Unit Test ------------------*/
#menu-all-pages.nav  > li > a{
    padding-left: 13px;
    padding-right: 13px;
} 

#header .navbar-nav .sub-menu .sub-menu{
    display: none !important ;
    background: #2a2627;
    border-bottom: 2px solid #ee3135;
    padding-top: 15px;
    padding-bottom: 15px;
}
#header .navbar-nav .sub-menu li:hover .sub-menu{
    left: 100%;
    top: 0;
    display: block !important ;
}
aside.widget{
    margin-bottom: 20px;
}
aside.widget select{
    width: 100%;
    border:1px solid #e9e9ee;
    height: 30px;
}
aside.widget .children {
    margin-top: 8px;
}
.widget_rss .rsswidget,.widget_rss .rss-date{
    display: block;
    margin-bottom: 5px;
}
aside .searchform label{
    display: none;
}
aside .searchform{
    overflow: hidden;
}
aside .searchform input[type="text"]{
    background: none;
    border: 1px solid #e9e9ee;
    height: 30px;
    font-size: 14px;
    padding: 0 5px;
    width: 74%;
    float: left;
}
aside .searchform input[type="submit"]{
    background: none;
    border: 1px solid #e9e9ee;
    height: 30px;
    font-size: 14px;
    width: 26%;
    float: left;
    border-left: none;
}
.widget a{
    color: #2b2a2f
}
.widget td a{
    color:#a6a6a6;
}
#menu-testing-menu .sub-menu{
    margin-top: 8px;
}
.page-links{
    overflow: hidden;
}
.page-links a{
    padding:5px 10px;
    text-align: center;
    display: block;
    float: left;
    color:#fff;
    margin: 0 3px;
    font-size: 13px;
}
.page-links-title{
    display: block;
    float: left;
    margin-right: 3px;
}
.page-links a:hover{
    background: #fff;
}
.blog-information .post-password-form input[type="password"]{
    color: #adadb7;
    font-size: 14px;
    background: #ffffff ;
    border: 1px solid #e6e6ec;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
}
.blog-information .post-password-form input[type="submit"]{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #2b2a2f;
    color: #ee3135;
    padding: 0 10px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.category-markup .blog-information p{
    margin-bottom: 20px;
    margin-top: 0;
}
.category-markup .blog-admin-info{
    margin-bottom: 30px;
}
.category-markup .blog-information blockquote p{
    margin-bottom: 0px;
}

@media all and (min-width:768px) and (max-width:992px){
    #menu-all-pages.nav  > li > a{
        padding: 10px 4px !important;
    }

}
@media all and (min-width:993px) and (max-width:1159px){
    #menu-all-pages.nav  > li > a{
        padding: 10px 4px !important;
    }

}
@media all and (min-width:320px) and (max-width:767px){
    #header .navbar-nav .sub-menu .sub-menu{
        background: #e7e7e7;
        border-bottom: none;
        padding: 5px 0;
    }
    #header .navbar-nav .sub-menu .sub-menu li a{
        padding-left:40px;
    }

}

#footer.footer-type-one .contact-number span{
    margin-top: 6px;
}
div.nav.navbar-nav ul li {
    float: none !important;
}
