/*
 * Theme v1.0.0
 * Copyright 2015-2016 Theemon.com
 */
/*
 Table Of Contents
 1) Tablet and Desktop
 2) Desktop
 3) Tablet
 4) Mobile and Tablet
 5) Mobile
 ===============================================*/

/*
 1) Tablet and Desktop
 ----------------------------------------*/
@media only screen and (min-width: 767px) {
    #wrapper.boxed, .boxed #header, .slide-content {
        margin: 0 auto;
        max-width: 768px;
        width: 100%;
    }
}
@media only screen and (max-device-width: 1024px) {

    .anim-section {

        -moz-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

/*
 2) Desktop
 ----------------------------------------*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    #wrapper.boxed, .boxed #header, .slide-content {
        margin: 0 auto;
        max-width: 970px;
        width: 100%;
    }
    .logo svg,.footer-logo svg{
        width:25px;
    }
    .consulation .icon-consult.fa-mobile{
        top: 7px
    }

    /*CSS style for Homepage start here*/
    /*===============Header type one style================*/
    .header-type-one#header .media-listing li {
        margin-right: 2.5px;
    }
    .header-type-one .nav > li > a {
        padding-left: 9px;
        padding-right: 6px;
    }
    .header-type-one #header .icon-call {
        margin-left: -10px;
    }

    .header-type-two#header .media-listing li {
        margin-right: 2.5px;
    }
    .header-type-two .nav > li > a {
        padding-left: 9px;
        padding-right: 6px;
    }
    .header-type-two#header .icon-call {
        margin-left: -10px;
    }
    /*===============Header Type three style===============*/
    .header-type-three#header .media-listing li {
        margin-right: 2.5px;
    }
    .header-type-three .nav > li > a {
        padding-left: 9px;
        padding-right: 6px;
    }
    .header-type-three#header .nav > li{
        padding: 32px 7px 6px;
    }
    .header-type-three#header .icon-call {
        margin-left: -10px;
    }
    /*===============Header Type four style===============*/
    .header-type-four#header .media-listing li {
        margin-right: 2.5px;
    }
    .header-type-four .nav > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
    .header-type-four#header .icon-call {
        margin-left: -10px;
    }



    .practice-area .family-law p {
        min-height: 90px;
    }
    .client .client-listing li {
        width: 17%;
    }
    .hiring-info h2.long-heading {
        font-size: 28px;
    }
    #footer .get-theme, #footer .copy-right {
        font-size: 10px;
    }
    #footer .icon-location {
        width: 36px;
    }
    #footer .contact-number span {

        margin-left: 17px;
    }
    #footer .main-footer p.para-description {
        margin-bottom: 5px;
    }
    #footer .get-theme, #footer .copy-right {
        line-height: 20px;
    }

    /*CSS style for Nomepage End here*/

    /*CSS style for About-us start here*/

    .our-principles .principles-detail {
        width: 65%;
    }

    /*CSS style for About-us end here*/

    /*CSS style for Attorney-detail start here*/

    .our-services .heading-details {
        line-height: 1.5;
    }
    .consulation .consult-info {
        font-size: 15px;
    }
    .consulation .contact-consult {
        font-size: 45px;
    }

    /*CSS style for Attorney-detail end here*/

    /*CSS style for Attorney-listing-one start here*/
    .attorney-listing-one-page .info-outer-container {
        width: 60%;
    }
    /*CSS style for blog section Start here*/

    .blog-listing-pics {
        width: 300px;
    }
    .blog-information {
        width: 378px;
        padding-top: 15px;
    }
    .blog-content .about-us-paragraph {
        margin-top: 19px;
    }
    .blog-content .blog-information .more-btn {
        margin-top: 0;
    }
    .blog-content .heading-details {
        line-height: 1.5;
    }
    .featured-blog-descpt {
        width: 100px;
    }
    .follow-us-list li {
        width: 67px;
        margin-left: 5px;
    }
    .blog-comment {
        width: 93%;
    }

    .happy-clients .happy-client-state {
        padding-top: 40px;
        padding-left: 60px;
    }
    .contact-page .form-block #detail-name {
        width: 48%;
    }
    .history-content .history-declaration {
        padding-top: 0;
    }
    .history-content .history-declaration .about-us-paragraph {
        margin-top: 0;
    }
    .yearwise-listing .year-listing-block {
        min-height: 278px;
    }
    .practice-one-page .detail-one-description {
        padding-top: 0;
    }
    .practice-one-page .box-detail-left {

        margin-right: 20px;
    }

    /*CSS style for blog section End here*/

    /*CSS style for shortcode page start here*/
    .tab-widget .nav-tabs li {
        min-width: 102px;
    }
    .category-widget .panel-default h4 a {
        padding-left: 10px;
    }

    .paginations-box .pagination li a, .paginations-box .pagination li a span {
        padding: 5px 6px;
        text-align: center;
    }
    .paginations-box .pagination li a.prev, .paginations-box .pagination li a.next {
        min-width: 82px;
    }
    .paginations-box .pagination li {
        margin-right: 5px;
    }

    /*CSS style for shortcode page end here*/

}

@media (min-width: 1200px) {

    #wrapper.boxed, .boxed #header, .slide-content {
        max-width: 1170px;
        width: 100%;
    }


}

/*
 3) Tablet
 ----------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /*CSS style for Homepage1 start here*/
    #wrapper.boxed, .boxed #header, .slide-content {
        max-width: 750px;
        width: 100%;
    }
    .slide-content{
        padding:15px;
    }
    .logo .svg-shape{
        top: -8px;
    }
    .logo svg{
        width: 16px;
    }
    #footer .nav {
        margin-top: 8px;
    }
    .slide-content-3{

        top:50%;
        transform:translateY(-50%)  ;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%) ;

    }

    /*CSS style for Homepage start here*/
    /*==============Header type one style===================*/
    .header-type-one#header .contact-number {
        display: none;
    }
    .header-type-one#header .navbar-nav > li > a {
        padding: 10px 7px;
    }
    .header-type-one#header .navbar-nav > li > .dropdown-menu {
        min-width: 156px;
    }
    /*==============Header type two style===================*/
    .header-type-two#header .contact-number {
        display: none;
    }
    .header-type-two#header .navbar-nav > li > a {
        padding: 10px 8px;
    }


    .header-type-three#header .nav li a {
        padding: 10px 1px 9px 5px;
        font-size: 11px;
    }
    .header-type-three#header .navbar-nav > li > .dropdown-menu {
        min-width: 156px;
    }
    .header-type-three#header .nav li {
        padding: 32px 10px 6px;
    }
    .header-type-three#header .contact-number {
        display: none;
    }
    .header-type-three#header .navbar-nav > li > a {
        padding: 10px 1px 10px 12px;
    }
    .header-type-three#header .nav > li{
        padding: 32px 3px 6px;
    }
    /*==============Header type two style===================*/

    .header-type-four#header .contact-number {
        display: none;
    }
    .header-type-four#header .navbar-nav > li > a {
        padding: 10px 4px;
    }
    .header-type-four#header .navbar-nav > li > .dropdown-menu {
        min-width: 156px;
    }


    .slide-content-2{
        left:40%;
    }
    .p-text{
        width: 431px;
    }

    .about-us .moment h2 {
        font-size: 28px;
    }

    .tp-simpleresponsive .tp-caption.slider1 {
        left: 15% !important;
    }

    .about-us .moment, .about-us .moment-right {
        width: 295px;
    }
    .about-us .attorney-listing figure {
        height: 158px;
    }

    .about-us .attorney-listing h2.at-h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .about-us .media-listing li {
        margin-right: 5px;
    }

    .news figure img {
        width: 100%;
    }
    .news-testimonial .testimonial-inner {

        width: 60%;
    }

    .news-testimonial .testimonial {
        margin-top: 50px;
    }
    .testimonial {
        padding-top: 60px;
    }
    .client .client-listing li {
        width: 17%;
    }
    .clients-content .clients-listing li {
        margin-bottom: 18px;
    }
    .hiring-info h2.long-heading {
        font-size: 20px;
    }
    .hiring-info .hiring-detail {
        font-size: 12px;
    }
    #footer .main-footer {
        padding-top: 0;
    }
    #footer .navbar-collapse {
        padding: 0;
    }
    #footer .navbar-nav > li > a {
        padding: 10px 7px 10px 10px;
        font-size: 13px;
    }
    #footer .consultation > a {
        font-size: 9px;
    }
    #footer .top-footer .icon-enevlope {
        background-position: -7px 0;
        width: 30px;
    }
    #footer .top-footer .consultation {
        float: left;
    }
    #footer .tablet-mode {
        margin-top: 40px;
    }
    #footer .main-footer .block-right {
        margin-bottom: 30px;
    }
    #footer .main-footer p.para-description {
        padding-right: 57px;
    }
    #footer .practice-listing .fa-chevron-right {
        margin-right: 65px;
    }
    .news-testimonial .tabing-listing {
        margin-left: 11%;
    }
    /*CSS style for Homepage End here*/
    .shortcode-container {
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .blog-two-page .blog-listing {
        width: 90% !important;
    }
    .yearwise-listing .year-listing-block {
        min-height: 240px;
    }
    .blog-details-page .user-blog-detail {
        width: 70%;
    }
    .blog-details-page .blog-user-info figure {
        width: 100px;
        height: 100%;
    }
    .blog-details-page .blog-user-info {
        padding: 35px 7px 39px 9px;
    }
    /*CSS style for About-us start here*/
    .heading-details {
        line-height: 20px;
        margin-top: 10px;
    }
    .attorney-detail-container {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .our-principles .index-box {

        height: 45px;
        margin-right: 7%;
        padding-top: 8px;
        width: 45px;
    }
    .our-principles .principles-detail {
        width: 72%;
    }
    .panel-group .panel {
        padding-left: 10px;
        padding-right: 10px;
    }
    .our-services .practice-listing li a {
        font-size: 12px;
    }

    /*CSS style for About-us end here*/
    /*CSS style for attorney-detail start here*/
    .attorney-detail-container .contact-education {
        padding: 40px 15px;
    }
    .attorney-detail-container .education {
        float: right;
        width: 52%;
    }
    .attorney-detail-container .contact-him {
        width: 44%;
    }
    .consulation .consult-info {
        font-size: 11px;
    }
    .consulation .contact-consult {
        font-size: 28px;
    }
    .consulation .icon-consult {
        top: 5px;
    }

    /*CSS style for attorney-detail end here*/
    .about-us #profile {
        padding-top: 0;
    }
    .attorney-listing {
        padding-top: 0;
        padding-bottom: 45px;
    }
    .attorney-listing-one-page .info-outer-container {
        width: 68%;
    }
    .attorney-listing-one-page .attorney-listing-box {
        padding-bottom: 0;
    }
    .attorney-listing-one-page .attorney-listing-box figure {
        width: 86px;
        height: 86px;
    }

    .attorney-listing-one-page .attorney-listing-box h3 {
        font-size: 14px;
    }
    .attorney-listing-one-page .attorney-listing .label-text {
        font-size: 12px;
    }
    .attorney-listing-one-page .attorney-listing .attorney-information .media-listing li {
        margin-left: 4px;
    }
    .attorney-listing-one-page .attorney-listing .attorney-information .media-listing {
        width: 70px;
    }
    .attorney-listing-one-page .attorney-listing-box .about-us-paragraph {
        margin-top: 0;
    }
    .about-us .attorney-listing figure {
        height: auto;
    }
    .attorney-listing figure img {
        width: 100%;
    }
    .news-testimonial .owl-carousel {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    /*CSS style for blog section Start here*/

    .blog-content {
        padding: 50px 0px;
    }

    .blog-listing-pics {
        width: 100%;
        float: none;
    }
    .blog-listing-pics figure img {
        width: 100%;
    }
    .blog-information {
        width: 100%;
        padding-top: 30px;
        float: none;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .blog-one-page .blog-information {
        padding-left: 0;
    }
    .blog-details-page .blog-information {
        padding-left: 15px;
    }
    .blog-details-page .blog-content {
        padding-bottom: 45px;
        padding-top: 50px;
    }
    .comment-blog-listing .user-comment-list li .user-comment {
        width: 70.6%;
    }
    .left-subspacer {
        margin-left: 0;
    }
    .comment-blog-listing .user-comment-list li.left-subspacer .user-comment {
        width: 72%;
    }
    .clients-content .clients-listing li span img {
        display: block;
        max-width: none !important;
    }

    .happy-clients .happy-client-state {
        padding-left: 45px;
        padding-top: 20px;
    }
    .contact-page .underline-label {
        line-height: 15px;
    }
    .contact-page .form-block #name, .contact-page .form-block #email {
        float: none;
        width: 100%;
    }
    .contact-page .contact-form-form {
        padding-bottom: 30px;
        padding-top: 60px;
    }

    .consulation.faq-comment .consult-info {
        font-size: 14px;
    }

    .history-content .history-declaration {
        padding-top: 0;
    }
    .history-content .history-declaration .about-us-paragraph {
        margin-top: 0;
    }

    .yearwise-listing .year-listing-block {
        min-height: 335px;
    }

    .practice-one-page .practice-detail-container .detail-caption, .practice-one-page .detail-one-description, .practice-one-page .box-detail-left, .practice-one-page .box-detail-right {
        float: none;
        width: 100%;
    }
    .happy-client-list {
        margin-bottom: 60px;
    }

    /*CSS style for blog section End here*/
    .our-services {
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .about-us-page #footer .main-footer {
        padding-top: 45px;
    }
    .our-services .practice-listing {
        margin-top: 40px
    }
    .our-services .practice-listing li {
        margin-bottom: 10px
    }
    #slider .banner-text {
        left: 0;
    }
    /*CSS style for shortcode page start here*/

    .tag-widget-list li a {
        padding: 0 6px;
    }

    .tab-widget .nav-tabs li {
        min-width: 74px;
    }

    .tab-widget .nav-tabs li a {
        font-size: 10px;
    }
    .tab-widget .tab-content {

        padding: 6px 10px 8px;
    }
    .tab-widget .tab-content ul li {

        padding-bottom: 0;
        padding-top: 10px;
    }
    .category-widget .panel-default h4 a {
        padding-left: 0;
        padding-right: 40px;
        font-size: 10px
    }
    .category-widget .panel-body {
        padding: 0;
        padding-bottom: 10px;
    }
    .left-paging {
        width: 100%;
        float: none;
    }

    .paginations-box .pagination li {
        margin-right: 5px;
    }

    .paginations-box .pagination li a, .paginations-box .pagination li a span {
        padding: 5px 4px;
        text-align: center;
    }
    .paginations-box .pagination li a.prev, .paginations-box .pagination li a.next {
        min-width: 78px;
    }

    .directional-list li a {
        padding-left: 5px;
    }
    .column-griding {
        margin-top: 60px;
    }
    .directional-list li a .fa-angle-right, .directional-list li a .fa-dot-circle-o {

        left: -12px;
        top: -4px;
    }

    .circle-list li a .fa-dot-circle-o {
        font-size: 13px;
        left: -15px;
        top: 0;
    }

    .news-testimonial .user-testimonial {
        background-size: cover;
    }
    .news-testimonial .owl-controls {
        margin-top: -5px;
    }
    .news-testimonial .owl-wrapper-outer {
        padding-bottom: 20px;
    }
    .news-testimonial .user-image {
        bottom: -20px;
    }

    .news-testimonial .testimonial {
        padding-top: 0px;
    }

    /*CSS style for shortcode page End here*/
    .area-list-collection {
        min-height: 0;
    }
    .happy-clients {
        padding-bottom: 30px
    }
    .our-services {
        padding-top: 0;
    }
    .practice-one-page .box-detail-right {
        margin-bottom: 30px;
    }

    .featured-blog-descpt {
        width: 167px;
    }
    .featured-blog-descpt{
        float: none;
        margin-left:0;
        width: auto;
        overflow: hidden;
    }
    .featured-blog-list li figure{
        margin-right: 20px;
    }
    .page-template-attorney-home-one-php .about-us .moment, .page-template-attorney-home-one-php .about-us .moment-right{
        width: 100%;
    }
    .page-template-attorney-home-two-php .about-us .phone-detail-inner span{
        font-size: 11px;
    }
    .page-template-attorney-home-two-php .about-us .phone-detail-inner .phone-number{
        font-size: 14px;
    }
    .page-template-attorney-home-one-php .about-us .moment, .page-template-attorney-home-one-php .about-us .moment-right{
        width: 100%;
    }
    .page-template-attorney-home-four-php .attorney-listing .contact-number span {
        margin-left: 7px;
    }
    .page-template-attorney-home-three-php .news-upadte-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}

/*
 5) Mobile
 ----------------------------------------*/
@media only screen and (max-width: 767px) {
    #header .navbar-default .navbar-nav > .active > a, #header .navbar-default .navbar-nav > .active > a:hover, #header .navbar-default .navbar-nav > li  a:hover, #header .navbar-default .navbar-nav > .active > a:focus, #header .nav > li:hover > a {

        color: #000;
    }
    /*CSS style for Homepage1 start here*/

    #owl-demo-home.row.owl-carousel.owl-theme {
        margin: 0 auto;
    }

    /*CSS style for Homepage start here*/
    /*===========Header type one style =============*/
    .header-type-one#header .media-header {
        display: none;
    }
    .header-type-one#header .primary-right-block {
        float: none;
        text-align: left;
    }

    .header-type-one#header .primary-header {
        padding-bottom: 0;
        display: none;
    }
    .header-type-one#header .consultation > a {
        font-size: 12px;
    }
    .header-type-one#header .contact-number {
        display: none;
    }
    .header-type-one#header .navigation {
        position: relative;
        top: 0;
        margin-top: -30px;
        padding-bottom: 5px;
        padding:0;
    }
    .header-type-one#header .navbar-nav{
        background:#ddd;
    }
    .header-type-one#header .dropdown-menu,.header-type-one#header .navbar-nav .open .dropdown-menu{
        background:#e7e7e7;
    }
    .header-type-one#header .navbar-default {
        margin-bottom: 0;
    }
    .header-type-one#header .nav {
        float: none;
    }
    .header-type-one#header .logo {
        margin-top: 12px;
        width: 61%;
        z-index: 999;
    }
    .header-type-one#header .nav {
        padding:10px 0;
    }
    /*=============Header Type two style===============*/
    .header-type-two#header .navigation-header .navigation {
        position: relative;
        margin-top: -33px;
    }
    .header-type-two#header .logo {
        position: relative;
        z-index: 999;
    }

    .header-type-two .contact-number {
        display: none;
    }
    .header-type-two#header .media-header {
        display: none;
    }
    .header-type-two#header .primary-right-block {
        float: none;
        text-align: left;
    }

    .header-type-two#header .primary-header
    {
        padding-bottom: 0;
        display:none;
    }
    .header-type-two#header .consultation > a {
        font-size: 12px;
    }
    .header-type-two#header .contact-number {
        display: none;
    }
    .header-type-two#header .navigation {
        position: relative;
        top: 0;

        padding-bottom: 5px;
    }
    .header-type-two#header .navbar-default {
        margin-bottom: 0;
    }
    .header-type-two#header .nav {
        float: none;
    }
    .header-type-two#header .logo {
        margin-top: 12px;
        width: 61%;
        z-index: 999;
    }
    /*===================Header type three style========================*/
    .header-type-three#header .media-header {
        display: none;
    }
    .header-type-three#header .primary-right-block {
        float: none;
        text-align: left;
    }

    .header-type-three#header .primary-header {
        padding-bottom: 0;
        display: none;
    }
    .header-type-three#header .consultation > a {
        font-size: 12px;
    }
    .header-type-three#header .contact-number {
        display: none;
    }
    .header-type-three#header .navigation {
        position: relative;
        top: 0;
        margin-top: -37px;
        padding: 0;
        padding-bottom: 5px;
    }
    .header-type-three#header .navbar-nav {
        background:#ddd;
        padding:15px 0;
    }
    .header-type-three#header .nav > li > a:after{
        display:none;
    }
    .header-type-three#header .nav > li{
        padding-top: 0;
    }
    .header-type-three#header .nav > li >a{
        padding:5px 0;
    }
    .header-type-three#header .logo {
        margin-top: 18px;
    }
    .header-type-three#header .navbar-default {
        margin-bottom: 0;
    }
    .header-type-three#header .nav {
        float: none;
    }
    .header-type-three#header .nav li a i.fa {
        display: none;
    }
    .header-type-three#header .logo {
        margin-top: 12px;
        width: 61%;
        z-index: 999;
    }

    /*=============Header Type four style==============*/
    .header-type-four#header .consultation{
        display:none;
    }
    .header-type-four#header .consultation
    {
        right: -200px;
    }
    .header-type-four#header .media-header {
        display: none;
    }
    .header-type-four#header .primary-right-block {
        float: none;
        text-align: left;
    }

    .header-type-four#header .primary-header
    {
        padding-bottom: 0;
        display:none;
    }
    .header-type-four#header .consultation > a {
        font-size: 12px;
    }
    .header-type-four#header .contact-number {
        display: none;
    }
    .header-type-four#header .navigation {
        position: relative;
        margin-top: -35px;
        padding:0;
    }
    .header-type-four#header .navbar-default {
        margin-bottom: 0;
    }
    .header-type-four#header .navbar-nav{
        background:#ddd;
        margin-top:0;
    }
    .header-type-four#header .nav {
        float: none;
        padding:10px 0;

    }
    .header-type-four#header .logo {
        margin-top: 12px;
        width: 61%;
        z-index: 999;
    }


    .practice-area {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .practice-area .practice-header .practice-desp, .news-testimonial .practice-desp, .about-us .practice-desp, .client .practice-desp {
        font-size: 12px;
        line-height: 20px;
    }
    .practice-area .family-group {
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .practice-area .family-law {
        margin-bottom: 20px;
    }
    .practice-area .family-law p {
        margin-bottom: 10px;
    }
    .about-us #profile {
        margin-top: 0;
    }
    .about-us .seprater {
        display: none;
    }
    .about-us .moment, .about-us .moment-right {
        width: 100%;
        margin-top: 0px;
        text-align: left;
    }
    .about-us .moment figure {
        height: auto;
    }
    .about-us figure img {
        width: 100%;
    }
    .about-us .moment h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .news-testimonial .para-description, .para-description {

        font-size: 12px;
        margin-bottom: 12px;
        margin-top: 8px;
    }

    .about-us .attroney-base {
        margin-top: 20px;
    }
    .about-us {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .spacer-mobile {
        margin-bottom: 30px;
    }
    .news-testimonial .testimonial-inner .h2 {
        font-size: 24px;
    }
    .news-testimonial .testimonial-inner {
        width: 100%;
    }
    .news-testimonial .user-description {
        font-size: 12px;
    }
    .news-testimonial .user-testimonial {
        padding-top: 30px;
    }
    .news-testimonial .news-half img {
        width: 100%;
    }
    .blog-two-page .blog-listing {
        width: 94% !important;
    }

    .client {
        padding: 30px 0 30px;
    }
    .client .client-listing {
        margin-top: 0;
        text-align: center;
    }
    .client .client-listing li {
        width: 25%;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .hiring-info h2.long-heading {
        font-size: 19px;
    }
    .hiring-info {
        padding-top: 40px;
        padding-bottom: 40px;
        background-size: cover;
    }
    .more-btn.btn-footer {
        margin-top: 15px;
    }
    .hiring-info .hiring-detail {
        font-size: 12px;
        width: 100%;
    }
    .hiring-info .btn-footer {

        width: 240px;
        margin: 0 auto;
        min-width: auto;
    }
    .testimonial {
        padding-top: 60px;
    }
    .column-griding {
        margin-top: 60px;
    }
    .shortcode-container {
        padding-bottom: 30px;
        padding-top: 60px;
    }
    #footer .top-footer {
        display: none;
    }

    #footer .main-footer {
        padding-bottom: 40px;
        padding-top: 30px;
    }

    #footer .listing-continue {
        margin-top: 0;
    }
    .about-us .media-listing {
        margin-top: 10px;
    }
    .about-us .attorney-listing {
        margin-bottom: 20px;
    }
    /*.news figure, .news-testimonial .figure-description {
     width: 262px;
     }*/
    /*CSS style for Homepage End here*/

    /*CSS style for About-us start here*/
    .our-attorney, .our-principles, .our-practice-area {
        padding-top: 45px;
        padding-bottom: 40px;
    }
    .attorney-mob {
        margin-top: 20px;
    }

    .heading-details {
        line-height: 1.5;
        margin-top: 10px;
    }
    .our-principles .principles-detail {
        width: 65%;
    }
    .panel-body, .panel-pics {
        width: 100%;
        float: none;
    }

    .panel-group .panel {
        padding-left: 10px;
        padding-bottom: 0;
    }

    .panel-pics {
        text-align: center;
        padding-bottom: 20px;
    }
    .our-services {
        margin-top: 20px;
    }
    .about-us-page #footer {
        border-top: 2px solid #e7ebf3;
    }
    .our-attorney-pics {
        text-align: center;
    }
    .our-attorney-pics img {
        width: 100%;
    }
    /*CSS style for About-us end here*/

    /*CSS style for attorney-detail start here*/

    #slider .about-banner h1 {
        font-size: 35px;
    }

    .attorney-detail-container {
        padding-bottom: 45px;
        padding-top: 50px;
    }
    .attorney-detail-container .contact-education {
        padding: 20px 15px;
    }

    .attorney-detail-container .contact-him, .attorney-detail-container .education {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .attorney-detail-container .attorney-detail-para {
        margin-top: 20px;
    }
    .contact-form {
        padding-top: 45px;
        min-height: 520px;
    }
    .form-block input, .form-block textarea {
        padding: 0 15px;
    }
    .form-block textarea {
        min-height: 120px;
    }
    .consulation {
        padding: 30px 0px;
    }
    .consulation .contact-consult {
        font-size: 30px;
        border: none;
        width: 300px;
        margin: 0 auto;
    }
    .consulation .icon-consult {
        background-position: -2px -46px;
        background-size: 300px 300px;
        height: 34px;
        width: 30px;
        left: 20px;
    }

    .consulation .week-time, .consulation .consult-info {
        text-align: center;
    }
    .attorney-listing {
        padding: 45px 0px;
    }
    .attorney-listing-page .attorney-listing {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .attorney-listing-box figure img {
        width: 100%;
    }
    .attorney-listing .attorney-information .media-listing li {
        margin-left: 4px;
    }
    .attorney-listing-one-page .attorney-listing-box figure {
        margin: 0 auto;
        float: none;
    }
    .attorney-listing-one-page .info-outer-container {
        float: none;
        width: 100%;
    }
    .attorney-listing-one-page .attorney-listing {
        padding-bottom: 30px;
        padding-top: 50px;
    }
    .attorney-listing-one-page .attorney-listing-box figure {
        width: 175px;
        height: 175px;
    }
    .about-us #profile  .attorney-listing {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .blog-admin-info li.admin {
        margin-right: 6px;
    }

    /*CSS style for attorney-detail end here*/
    .contact-page .contact-form-form {
        padding-bottom: 30px;
        padding-top: 60px;
    }

    /*CSS style for blog section Start here*/

    .blog-content {
        padding: 50px 0px;
    }

    .blog-listing-pics, .blog-information {
        width: 100%;
        float: none;
    }
    .blog-information {
        padding-top: 30px;
        padding-left: 15px;
        padding-bottom: 20px;
    }
    .blog-comment {
        width: 260px;
    }
    .blog-comment li {
        margin-right: 5px;
    }
    .blog-listing-pics .blog-comment {
        bottom: 17px;
    }
    /*CSS style for blog section End here*/
    .mobile-line {
        border-top: 2px solid #e7ebf3;
    }
    .blog-listing-pics figure img {
        width: 100%;
    }
    .blog-outer {
        width: 290px;
    }
    .featured-blog-descpt {
        float: left;
        margin-left: 30px;
        width: 55%;
    }
    .blog-one-page .blog-information {
        padding-left: 0;
    }
    .blog-details-page .blog-content {
        padding-bottom: 45px;
        padding-top: 50px;
    }
    .blog-details-page .blog-information {
        padding-left: 15px;
    }
    .blog-details-page .blog-user-info figure {
        float: none;
        margin: 0 auto;
    }
    .blog-details-page .user-blog-detail {
        width: 100%;
        float: none;
    }
    .blog-details-page .blog-user-info {
        padding: 15px;
    }
    .comment-blog-listing .user-comment-list li figure {
        float: none;
        margin: 0 auto;
    }
    .comment-blog-listing .user-comment-list li .user-comment {
        float: none;
        width: auto;
        margin-top: 20px;
    }
    .left-subspacer {
        margin-left: 0;
    }

    .comment-blog-listing .user-comment-list li.left-subspacer .user-comment {
        width: auto;
    }
    .blog-details-page .blog-search {
        margin-top: 30px;
    }
    .happy-client-list figure img {
        width: 100%;
    }
    .happy-clients .happy-client-state {
        padding-left: 50px;
        padding-top: 55px;
    }
    .news-testimonial {
        padding-bottom: 30px;
    }
    .contact-page .form-block #name, .contact-page .form-block #email {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .contact-page .contact-form-form {
        padding-bottom: 45px;
        padding-top: 50px;
    }
    .contact-page .contact-details {
        margin-top: 30px;
    }
    .faq-listing {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .faq-listing h2 {
        font-size: 19px;
    }
    .faq-listing .heading-details {
        font-size: 13px;
    }
    .faq-listing-list {
        padding-left: 15px;
        margin-top: 60px;
        min-height: 0;
    }
    .faq-listing-list h3 {
        margin-top: 10px
    }
    .faq-listing .question-label {
        top: -34px;
    }
    .consulation.faq-comment .consult-info {
        padding-bottom: 15px;
    }
    .block-divisor {
        display: none;
    }

    .history-content .video-section img {
        width: 100%;
    }

    .practice-one-page .practice-detail-container .detail-caption, .practice-one-page .detail-one-description, .practice-one-page .box-detail-left, .practice-one-page .box-detail-right {
        float: none;
        width: 100%;
    }

    .practice-one-page .user-quote {
        padding-left: 45px;
    }
    .practice-one-page .user-quote .about-us-paragraph:after {
        left: -40px;
    }

    .practice-details-page .practice-detail-container {
        padding-bottom: 30px;
        padding-top: 50px;
    }

    .practice-details-page .user-quote {
        padding-left: 45px;
    }
    .practice-details-page  .user-quote .about-us-paragraph:after {
        left: -40px;
    }

    .practice-listings-container {
        padding-bottom: 30px;
        padding-top: 50px;
    }
    .area-list-collection figure img {
        width: 100%;
    }

    .social-media .basic-listing li {
        margin-right: 5px;
    }
    .circle-list li a .fa-dot-circle-o {
        left: -6px;
    }

    .circle-list li a {
        padding-left: 21px;
    }
    .left-paging, .right-paging {
        width: auto;
        float: none;
    }

    .paginations-box .pagination li a.prev, .paginations-box .pagination li a.next {
        min-width: 88px;
    }

    .paginations-box .pagination li a, .paginations-box .pagination li a span {
        padding: 5px 8px;
    }
    .paginations-box .pagination li {
        margin-bottom: 5px;
    }
    .clients-content {
        padding-top: 45px;
    }
    .happy-clients {
        padding-bottom: 30px;
    }
    .page-not-found {
        padding-bottom: 45px;
        padding-top: 60px;
    }
    .happy-clients .happy-client-state .about-us-paragraph:before {
        left: -24px;
    }
    .vote-rating {
        margin-top: 40px;
    }
    #footer .main-footer .block-right {
        margin-bottom: 30px
    }
    #footer .get-theme, #footer .copy-right {
        line-height: 21px;
    }
    #footer .practice-listing {
        margin-top: 40px;
    }
    #footer .listing-continue {
        margin-top: 64px;
    }
    #footer .listing-continue {
        margin-top: 0;
    }
    .practice-one-page .practice-detail-container {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .practice-one-page .practice-detail-box-3 {
        padding-bottom: 0;
    }
    .practice-one-page .box-detail-right {
        margin-bottom: 30px;
    }
    .consulation .consult-info {
        padding-top: 0;
    }
    .featured-blog-descpt {
        width: 162px;
    }
    .blog-details-page .leave-comment {
        padding-bottom: 60px;
    }
    .history-content .video-container {
        padding-bottom: 0;
    }
    .year-listing-block {
        min-height: 0;
    }
    .our-history-year {
        padding-bottom: 13px;
    }
    .page-template-attorney-home-one-php .news-testimonial .owl-pagination{
        margin-top: 0;
    }
    .follow-us{
        margin-bottom: 0;
    }
    #footer.footer-type-one .main-footer{
        padding-top: 0;
    }
    .featured-blog-descpt{
        float: none;
        margin-left:0;
        width: auto;
        overflow: hidden;
    }
    .featured-blog-list li figure{
        margin-right: 20px;
    }
    .page-template-attorney-home-one-php .about-us .moment, .page-template-attorney-home-one-php .about-us .moment-right{
        text-align: left;
    }
    .page-template-attorney-home-one-php .client .practice-desp{
        line-height: 1.3;
    }
    .page-template-attorney-home-one-php .client .client-listing li,.page-template-attorney-home-two-php .client .client-listing li,.page-template-attorney-home-three-php .client .client-listing li,.page-template-attorney-home-four-php .client .client-listing li{
        min-height: 20px;
    }
    .page-template-attorney-home-two-php .practice-area .family-group {
        text-align: center;
    }
    .page-template-attorney-home-three-php .practice-area .family-group,.page-template-attorney-home-three-php .practice-area .family-law{
        text-align: center;
    }
    .page-template-attorney-home-two-php .attorney{
        padding-top: 0;
    }
    .page-template-attorney-home-four-php .client .practice-desp,.page-template-attorney-home-four-php .news-testimonial .practice-desp,.page-template-attorney-home-four-php .practice-header .practice-desp{
        line-height: 1.4;
    }
    .page-template-attorney-home-four-php .testimonial-box .practice-desp{
        padding-top: 0;
    }
    .page-template-attorney-home-four-php .testimonial-box1 .user-information-block h2{
        font-size: 22px;
        font-weight: 400;
    }
    .page-template-attorney-home-two-php .testimonial .member-container,.page-template-attorney-home-two-php .testimonial .member-content{
        width: auto;
    }
    .activity.buddypress .delete-activity.confirm{
        display: inline-block;
        margin-top: 11px;
    }
    .activity.buddypress .activity-inner p {
        padding-right:0; 
    }
    .activity.buddypress .activity-inner iframe {
        width: 100% !important;
    }
    .page-template-attorney-home-one-php .practice-area .section-header .practice-desp, .page-template-attorney-home-one-php .news-testimonial .practice-desp, .page-template-attorney-home-one-php .about-us .practice-desp, .page-template-attorney-home-one-php .client .practice-desp{
        line-height: 1.6;
    }
    .page-template-attorney-home-three-php .practice-area .h3::after{
        right: 0;
        margin-left: auto;
        margin-right:auto; 
    }
    .page-template-attorney-home-two-php .contact-details .fa-mobile, .page-template-attorney-home-two-php .contact-details .fa-envelope-o {
        width: 73px;
        text-align: center;
    }
    .page-template-attorney-home-one-php .news-testimonial .spacer-mobile figure {
        height: auto;
    }
    .page-template-attorney-home-three-php .owl-item .news-upadte-content {
        background-size: cover;
    }
}
/*
 4) Mobile and Tablet
 ----------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {


    .news-testimonial .testimonial-inner {
        width: 320px;
    }
    .news-testimonial .tabing-listing {

        margin-left: 12%;
    }
    .practice-area .family-law {

        width: 50%;
    }
    .news figure, .news-testimonial .figure-description {
        width: 100%;
    }
    .news-half {
        width: 50%;
    }
    .news figure img {
        width: 100%;
    }
    .about-us .attorney-listing figure {
        height: auto;
    }
    .about-us #profile .attorney-listing {

        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    /*CSS style for Homepage End here*/
    /*CSS style for attorney listing  start here*/
    .attorney-listing-box {
        width: 50%;
    }
    .attorney-listing-box h3 {
        font-size: 13px;
    }
    .attorney-listing .label-text {
        font-size: 11px;
    }
    .attorney-listing .media-listing li a {
        font-size: 15px;
    }
    .attorney-listing .attorney-information .media-listing {
        width: 72px;
    }
    .attorney-listing-page #footer {
        border-top: 2px solid #e7ebf3;
    }

    /*CSS style for blog section Start here*/
    .happy-client-list figure img {
        width: auto;
    }
    .happy-client-list figure {
        text-align: center;
    }

    /*CSS style for blog section End here*/

}

@media only screen and (max-width: 767px) {


    .clients-content .clients-listing li {
        margin: 0 auto 25px;
        width: 25%;
    }
    .news-testimonial .user-testimonial {
        background-size: cover;
    }

    .news-testimonial .owl-wrapper-outer {
        padding-bottom: 20px;
    }
    .news-testimonial .user-image {
        bottom: -20px;
    }
    .about-us .nav-tabs li {
        padding-right: 30px;
    }
    .practice-area .section-header .practice-desp, .news-testimonial .practice-desp, .about-us .practice-desp, .client .practice-desp {
        line-height: 1.5;
        padding-top: 15px;
        display: block
    }
    .tp-simpleresponsive .item-1 .caption,   .tp-simpleresponsive .item-1 .tp-caption{
        margin-left:15px !important;
    }
}
@media only screen and (max-width: 590px) {

    .clients-content .clients-listing li {
        margin: 0 auto 25px;
        width: 33%;
    }
    .error-msg, .error-msg span {
        font-size: 17px;
    }
    .blog-two-page .blog-listing {
        width: 90% !important;
    }

}
@media only screen and (max-width: 389px) {

    .clients-content .clients-listing li {
        margin: 0 auto 25px;
        width: 50%;
    }

}

/*Banner*/

@media only screen and (max-width: 767px) {
    .tparrows.preview2:after {
        margin-top: -8px;
    }
    .slide-content-2{
        left:50%;
        transform:translateY(-50%) translateX(-50%);
        -webkit-transform:translateY(-50%) translateX(-50%);
        -ms-transform:translateY(-50%) translateX(-50%) ;
    }
    .slide-content-3{

        top:50%;
        transform:translateY(-50%)  ;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%) ;

    }
    .p-text{
        width: 431px;
    }
    .banner-slider h2 {
        margin-top: 0 !important;
    }

    .homepage .banner-slider .btn-effect img {
        width: auto !important;
        height: 20px !important;
    }
    .homepage .banner-slider .btn-effect{
        font-size:14px !important;
        line-height:1.3 !important;
        padding-left:50px !important;
        padding-right:20px !important;
    }

}

@media only screen and (max-width: 480px) {
    .slide-content-2{
        left:0;
        transform:translateY(-50%) translateX(0);
        -webkit-transform:translateY(-50%) translateX(0);
        -ms-transform:translateY(-50%) translateX(0) ;
        width:100%;
        padding-left:15px;
    }
    .homepage .banner-slider .h1{
        font-size: 37px !important;
    }
    .homepage .banner-slider .btn-effect img {
        width: auto !important;
        height: 20px !important;
    }
    .homepage .banner-slider .btn-effect{
        font-size:12px !important;
    }
    .homepage .banner-slider .btn-effect{
        padding-left:42px !important;
    }
    .homepage .banner-slider .btn-effect svg{
        width:20px;
    }
    body.homepage .banner-slider span,.p-text{
        width:100% !important;
        padding-right:20px !important;
        font-size:14px !important;
        line-height:1.5 !important;
    }

}
@media only screen and (max-width: 480px) {
    .homepage .banner-slider .item-3 .h1{
        font-size: 28px !important;
        margin-bottom: 10px;
    }
    body.homepage .banner-slider .item-3 span{
        font-size: 11px !important;
    }
    .homepage .banner-slider .btn-effect{
        margin-top:0;
    }

}
/****************************************
 *  Design Match
 ****************************************/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #header.header-type-one .icon-call {
        margin-left: -10px;
    }
    .header-type-two#header  .fa-phone-square {
        left: 0;
    }
    #footer.footer-type-one .consultation > a {
        font-size: 9px;
    }
    #footer.footer-type-two .tablet-mode {
        margin-top: 0;
    }
    #footer.footer-type-two .media-listing li {
        margin-right: 6px;
    }
    #footer.footer-type-three .tablet-mode {
        margin-top: 0;
    }
    #footer.footer-type-three .media-listing li {
        margin-right: 6px;
    }
    .page-template-attorney-home-one-php .news-testimonial .user-image {
        position: static;
    }
    .page-template-attorney-home-one-php .hiring-info h2.long-heading {
        font-size: 20px;
    }
    .single-testimonial .blog-listing.testimonial {
        padding-bottom: 20px;
        padding-top: 0;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .page-template-attorney-home-four-php .practice-area .family-law:hover .group-container {
        width: 484px;
    }
    .page-template-attorney-home-four-php .practice-area .trust:hover .group-container {
        width: 484px;
    }
    .activity.buddypress .featured-blog-list figure{
        width: auto;
    }
    .activity.buddypress .featured-blog-list figure img{
        width: 70px;
    }
    .activity.buddypress .tags .tag-list li{
        padding: 0 16px;
    }
    .activity.buddypress .follow-us-list li{
        margin-left: 5px !important;
        width: 60px;
    }
    .activity.buddypress .follow-us-list li:FIRST-CHILD{
        margin-left: 0;
    }  
    .activity.buddypress .activity-inner p {
        padding-right:0; 
    }
    .activity.buddypress .activity-inner iframe {
        width: 100% !important;
    }  

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .page-template-attorney-home-one-php .news-testimonial .user-testimonial {
        background-size: cover;
    }
    .page-template-attorney-home-one-php .news-testimonial .owl-item .user-image {
        position: relative;
    }
    .page-template-attorney-home-one-php .news-testimonial .user-testimonial {
        min-height: 0;
    }
    .page-template-attorney-home-one-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-one-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    /*Home Page Two Design*/
    .page-template-attorney-home-two-php .testimonial .member-container {
        width: 40%;
    }
    .page-template-attorney-home-two-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-two-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-two-php .testimonial .side-colon:before {
        position: static;
        display: inline-block;
    }
    .page-template-attorney-home-two-php .testimonial .side-colon:after {
        position: static;
        display: inline-block; 
    }
    /*Home three*/
    .page-template-attorney-home-three-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-three-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-three-php .testimonial .member-container {
        width: 35%;
    }
    .page-template-attorney-home-three-php .testimonial .side-colon:before, .page-template-attorney-home-three-php .testimonial .side-colon:after {
        position: static;
        display: inline-block;
    }
    /* Home Four */
    .page-template-attorney-home-four-php .practice-area .family-law:hover .group-container {
        width: 354px;
    }
    .page-template-attorney-home-four-php .practice-area .trust:hover .group-container {
        width: 354px;
        left: -188px;
    }
    .page-template-attorney-home-four-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-four-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-four-php .hiring-info .hiring-info-container {
        background-size: cover;
    }
    /*Blog*/
    .blog-three .blog-listing-pics, .blog-three .blog-listing-pics {
        padding-right: 0;
    }
    .page-template-attorney-home-two-php .footer-type-one .top-footer,.page-template-attorney-home-three-php .footer-type-one .top-footer,.page-template-attorney-home-four-php .footer-type-one .top-footer{
        padding-top: 13px;
    }
    .page-template-attorney-home-one-php .footer-type-two {
        margin-top: -19px;
    }
    .page-template-attorney-home-one-php .footer-type-three {
        margin-top: -19px;
    }
    .activity.buddypress .activity-inner p {
        padding-right:0; 
    }
    .activity.buddypress .activity-inner iframe {
        width: 100% !important;
    }  
}

@media only screen and (max-width: 767px) {
    #footer.footer-type-one .location, #footer.footer-type-one .contact-number span {
        margin-top: 8px;
    }
    .page-template-attorney-home-one-php .news-testimonial .user-testimonial { 
        background-size: cover; 
    }
    .page-template-attorney-home-one-php .about-us .moment, .page-template-attorney-home-one-php .about-us .moment-right {
        float: none;
        width: 100%;
    }
    .page-template-attorney-home-one-php .news-testimonial .spacer-mobile figure {
        margin-bottom: 18px;
        position: static;
    }
    .page-template-attorney-home-one-php .news-testimonial .figure-description {
        margin-top: 0;
    }
    .page-template-attorney-home-one-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-one-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-one-php .client .client-listing li {
        width: 25%;
    }
    .page-template-attorney-home-one-php .hiring-info h2.long-heading {
        font-size: 19px;
    }
    .page-template-attorney-home-one-php .hiring-info {
        background-size: cover;
    }
    /* home page two */
    .page-template-attorney-home-two-php .about-us .icon-civil {
        left: 0;
        margin: 0 auto;
    }
    .page-template-attorney-home-two-php .about-us .about-us-detail {
        text-align: center;
    }
    .page-template-attorney-home-two-php .about-tag:after {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .page-template-attorney-home-two-php .about-us .more-btn {
        display: block;
        font-size: 14px;
    }
    .page-template-attorney-home-two-php .about-us-detail {
        margin-bottom: 20px;
    }
    .page-template-attorney-home-two-php .about-us .about-us-details {
        margin-left: 0;
    }
    .page-template-attorney-home-two-php .about-us .about-us-heading {
        font-size: 14px;
    }
    .page-template-attorney-home-two-php .about-us .mail-detail {
        float: none;
        display: block;
        width: auto;
    }
    .page-template-attorney-home-two-php .about-us .contact-details {
        margin-left: 0;
    }
    .page-template-attorney-home-two-php .about-us .phone-detail {
        float: none;
        width: auto;
    }
    .page-template-attorney-home-two-php .about-us .phone-number {
        font-size: 19px;
    }
    .page-template-attorney-home-two-php .about-us .phone-detail-inner span {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
    }
    .page-template-attorney-home-two-php .arrow-more {
        margin-left: auto;
        margin-right: auto;
    }
    .page-template-attorney-home-two-php .attorney .owl-theme .owl-controls {
        top: 0;
    }
    .page-template-attorney-home-two-php .testimonial .side-colon:before {
        position: static;
        display: inline-block;
    }
    .page-template-attorney-home-two-php .testimonial .side-colon:after {
        position: static;
        display: inline-block; 
    }
    .page-template-attorney-home-two-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-two-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-two-php .client .client-listing li {
        width: 25%;
    }
    .page-template-attorney-home-three-php .testimonial .member-container {
        width: 40%;
    }
    .page-template-attorney-home-three-php .about-us .about-us-details {
        width: auto;
    }
    .page-template-attorney-home-three-php .about-us .contact-details {
        width: 100%;
    }
    .page-template-attorney-home-three-php .contact-details .phone-detail .seprate {
        display: none;
    }
    .page-template-attorney-home-three-php .contact-details .phone-detail {
        text-align: center;
    }
    .page-template-attorney-home-three-php .contact-details .phone-detail a {
        margin-left: 0;
        margin-bottom: 20px;
        display: block;
    }
    .page-template-attorney-home-three-php .arrow-more {
        margin: 0 auto;
    }
    .page-template-attorney-home-three-php .attorney .owl-theme .owl-controls {
        top: -25px;
    }
    .page-template-attorney-home-three-php .news-update-block {
        padding-left: 0;
    }
    .page-template-attorney-home-three-php .news-upadte-content {
        padding-left: 0;
        padding-right: 0;
    }
    .page-template-attorney-home-three-php .testimonial .side-colon:before, .page-template-attorney-home-three-php .testimonial .side-colon:after {
        position: static;
        display: inline-block;
    }
    .page-template-attorney-home-three-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-three-php .client .client-listing li {
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-three-php .client .client-listing li {
        width: 25%;
    }

    .page-template-attorney-home-four-php .practice-area .family-law:hover .group-container {
        width: 100%;
        height: auto;
    }
    .page-template-attorney-home-four-php .practice-area .family-group {
        float:none;
    }
    .page-template-attorney-home-four-php .practice-area .family-law:hover .family-group {

        width: 100%;
    }
    .page-template-attorney-home-four-php .practice-area .group-container .left-group-text {
        float:none;
        width: auto;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .page-template-attorney-home-four-php .practice-area .trust:hover .group-container {
        left: 0;
    }
    .page-template-attorney-home-four-php .testimonial-pics, .page-template-attorney-home-four-php .news-testimonial .testimonial-text-right, .page-template-attorney-home-four-php .news-testimonial .testimonial-text-left {
        float: none;
        display: block;
        clear: both;
        width: 100%;
        height: auto !important;
    }
    .page-template-attorney-home-four-php .testimonial-pics img {
        height: auto;
    }
    .page-template-attorney-home-four-php .testimonial-box1 .testimonial-user {
        text-align: center;
    }
    .page-template-attorney-home-four-php .news-testimonial .fk-stars {
        position: static;
        margin: 0 auto;
    }
    .page-template-attorney-home-four-php .client .client-listing {
        text-align: center;
    }
    .page-template-attorney-home-four-php .client .client-listing li {
        width: 25%;
        float: none;
        display: inline-block;
    }
    .page-template-attorney-home-four-php .hiring-info h2.long-heading {
        font-size: 15px;
    }
    .page-template-attorney-home-four-php .hiring-info .hiring-info-container {
        padding: 10px;
        background-size: cover;
    }
    /*Blog*/
    .blog-three .blog-listing-pics, .blog-three .blog-listing-pics {
        padding-right: 0;
    }
    .blog-three .blog-comment li {
        margin-right: 4px;
    }
    .comment-blog-listing .user-comment-list li .comment-author {
        float: none;
    }
    .page-template-attorney-history-php .dot-circle {
        display: none;
    }
    .activity.buddypress .activity-inner p {
        padding-right:0; 
    }
    .activity.buddypress .activity-inner iframe {
        width: 100% !important;
    }  
}




/*-------------- MObile View ------------*/
@media all and (min-width:320px) and (max-width:767px){
    .slider-one .banner-slider h2,.slider-four .banner-slider h2{
        font-size: 20px !important ;
    }
    .slider-one .banner-slider span,.slider-four .banner-slider span{
        font-size: 10px !important ;
    }
    .slider-one .banner-slider .btn-effect,.slider-four .banner-slider .btn-effect{
        height: 20px;
        line-height: 20px;
        font-size: 10px !important;
    }
    .page-template-attorney-home-one-php .slider-one .banner-slider h2.h1,.page-template-attorney-home-four-php .slider-four .banner-slider h2.h1{
        font-size: 20px !important ;
    }
    .slider-one .slide-one-title,.slider-one .slide-one-desc,.slider-one .slide-one-btn,.slider-one .slide-two-title,.slider-one .slide-two-desc,.slider-one .slide-two-btn,.slider-one .slide-three-title,.slider-one .slide-three-desc,.slider-one .slide-three-btn{
        left: 10% !important;
    }
    .slider-one .slide-one-title,.slider-one .slide-two-title,.slider-one .slide-three-title{
        top: 10% !important ;
    }
    .slider-one .slide-one-desc,.slider-one .slide-two-desc,.slider-one .slide-three-desc{
        top: 40% !important ;
    }
    .slider-one .slide-one-btn,.slider-one .slide-two-btn,.slider-one .slide-three-btn{
        top: 65% !important ;
    }

    .slider-four .slide-one-title,.slider-four .slide-one-desc,.slider-four .slide-one-btn,.slider-four .slide-two-title,.slider-four .slide-two-desc,.slider-four .slide-two-btn,.slider-four .slide-three-title,.slider-four .slide-three-desc,.slider-four .slide-three-btn{
        left: 10% !important;
    }
    .slider-four .slide-one-title,.slider-four .slide-two-title,.slider-four .slide-three-title{
        top: 10% !important ;
    }
    .slider-four .slide-one-desc,.slider-four .slide-two-desc,.slider-four .slide-three-desc{
        top: 40% !important ;
    }
    .slider-four .slide-one-btn,.slider-four .slide-two-btn,.slider-four .slide-three-btn{
        top: 65% !important ;
    }

    .page-template-attorney-home-two-php .slider-two .banner-slider .slide-one-title,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-one-desc,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-one-btn,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-two-title,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-two-desc,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-two-btn,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-three-title,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-three-desc,.page-template-attorney-home-two-php .slider-two .banner-slider .slide-three-btn{
        left: 10% !important;
        width: 80% !important ;
    }
    .slider-two .banner-slider .slide-one-title,.slider-two .banner-slider .slide-two-title,.slider-two .banner-slider .slide-three-title{
        top: 10% !important ;
    }
    .slider-two .banner-slider .slide-one-desc,.slider-two .banner-slider .slide-two-desc,.slider-two .banner-slider .slide-three-desc{
        top: 38% !important ;
    }
    .slider-two .banner-slider .slide-one-btn,.slider-two .banner-slider .slide-two-btn,.slider-two .banner-slider .slide-three-btn{
        top: 70% !important ;
    }
    .page-template-attorney-home-two-php .banner-slider .slider-text,.page-template-attorney-home-two-php .banner-slider .btn-effect{
        font-size: 12px !important;
        line-height: 1.2 !important ;
    }
    .page-template-attorney-home-two-php .banner-slider .btn-effect{
        padding:5px 10px !important;
    }

    .slider-three .slide-one-title,.slider-three .slide-one-desc,.slider-three .slide-one-btn,.slider-three .slide-two-title,.slider-three .slide-two-desc,.slider-three .slide-two-btn,.slider-three .slide-three-title,.slider-three .slide-three-desc,.slider-three .slide-three-btn{
        left: 10% !important;
    }
    .slider-three .slide-one-title,.slider-three .slide-two-title,.slider-three .slide-three-title{
        top: 10% !important ;
    }
    .slider-three .slide-one-desc,.slider-three .slide-two-desc,.slider-three .slide-three-desc{
        top: 40% !important ;
    }
    .slider-three .slide-one-btn,.slider-three .slide-two-btn,.slider-three .slide-three-btn{
        top: 65% !important ;
    }
    .page-template-attorney-home-three-php .banner-slider .slider-text{
        font-size: 11px !important;
        line-height: 1.2 !important ;
    }

    .page-template-attorney-home-two-php .fa-mobile, .page-template-attorney-home-two-php .fa-envelope-o{
        font-size: 45px;
    }
    .page-template-attorney-visual-composer-php .banner-slider .tp-simpleresponsive .tp-caption {
        left: 10% !important;
        width: auto !important;
    }

    .slider-one .banner-slider .text-slider-three, .slider-four .banner-slider .text-slider-three{
        max-width: 300px !important;
        width: 300px !important;
    }

    .banner-slider .slider-one-desctwo span,.banner-slider .slider-one-descfour span{
        margin-left: 50% !important;
    }

    .banner-slider .slider-one-btntwo a,.banner-slider .slider-one-btnfour a{
        left: 30% !important;
    }
    .testimonial-by-wrap span{
        line-height: 1 !important ;
    }

    .page-template-attorney-home-two .banner-slider .tp-parallax-wrap:nth-of-type(2){
        left: 10% !important ;
        top: 20% !important ;
    }
    .page-template-attorney-home-two .banner-slider .tp-parallax-wrap:nth-of-type(3){
        left: 10% !important ;
        top: 40% !important ;
    }
    .page-template-attorney-home-two .banner-slider .tp-parallax-wrap:nth-of-type(4){
        left: 10% !important ;
        top: 70% !important ;
    }
    .page-template-attorney-home-two .banner-slider .tp-parallax-wrap .slider-two-descone{
        width: 300px !important ;
    }

}

/*-------------- Table View ------------*/
@media all and (min-width:768px) and (max-width:1024px){
    .slider-one .banner-slider h2,.slider-four .banner-slider h2{
        font-size: 30px !important ;
    }
    .slider-one .banner-slider span,.slider-four .banner-slider span{
        font-size: 13px !important ;
    }
    .slider-one .banner-slider .btn-effect,.slider-four .banner-slider .btn-effect{
        height: 30px;
        line-height: 30px;
    }
    .page-template-attorney-home-one-php .slider-one .banner-slider h2.h1,.page-template-attorney-home-four-php .slider-four .banner-slider h2.h1{
        font-size: 30px !important ;
    }
    .banner-slider .slider-one-titletwo h2,.banner-slider .slider-one-titlefour h2{
        margin-left: -30% !important;
    }

    .banner-slider .slider-two-descone span{
        font-size: 14px !important;
        line-height: 1.3 !important;
        width: 430px !important;
    }
    .banner-slider .slider-two-btnone a{
        font-size: 11px !important;
    }
    .testimonial-by-wrap span{
        line-height: 1 !important ;
    }



}
@media all and (min-width:1024px){
    .tparrows.preview2::after{
        margin-top: -16px !important ;
    }

}
@media all and (min-width:768px) and (max-width:992px){
    .consulation .icon-consult.fa-mobile{
        top: 0;
    }
    .slider-one .slide-two-title,.slider-one .slide-two-desc,.slider-one .slide-two-btn{
        left: 50% !important ;
    }
    .slider-four .slide-two-title,.slider-four .slide-two-desc,.slider-four .slide-two-btn{
        left: 50% !important ;
    }
    .page-template-attorney-home-two-php .fa-mobile, .page-template-attorney-home-two-php .fa-envelope-o{
        font-size: 45px;
    }
    .faq-listing .question-label{
        left: 6px;
    }
    .single-practices .blog-page.blog-sidebar{
        padding-top: 20px;   
    }
    .featured-blog .heading-details{
        margin-bottom: 10px;
    }
    .slider-one .banner-slider .text-slider-three, .slider-four .banner-slider .text-slider-three{
        max-width: 600px !important;
        width: 600px !important;
    }



}
@media all and (max-width:479px){
    .page-template-attorney-home-three-php .banner-slider .slider-text{
        font-size: 9px !important;
    }
}


@media all and (min-width:1024px){

    .page-template-attorney-home-two-php .about-us{
        min-height: 610px;
        padding-bottom: 30px;
        padding-top: 130px;
        background: #fff;
    }
    .page-template-attorney-home-two-php .about-us h2,.page-template-attorney-home-two-php .attorney h2,.page-template-attorney-home-two-php .testimonial h2,.page-template-attorney-home-two-php .client h2{
        font-size: 30px;
        line-height: 1.6;
    }
    .page-template-attorney-home-two-php .attorney h2,.page-template-attorney-home-two-php .testimonial h2,.page-template-attorney-home-two-php .client h2{
        margin-bottom: 0;
    }
    .page-template-attorney-home-two-php .practice-area{
        background: #f7f7f2;
    }
    .page-template-attorney-home-two-php #footer.footer-type-one .top-footer{
        padding-top: 13px;
    }
    .page-template-attorney-home-two-php .attorney .attorney-listing figure{
        height: auto;
    }
    .page-template-attorney-home-four-php .practice-area h2,.page-template-attorney-home-one-php .practice-area h2{
        margin-bottom: 0;
    }
    .page-template-attorney-home-four-php #profile .more-btn .fa-chevron-right{
        top: -3px;
    }
    .page-template-attorney-home-four-php #home .more-btn .fa-chevron-right{
        top: -2px;
    }
    .page-template-attorney-home-four-php .news-testimonial .date{
        float: left;
    }
    .page-template-attorney-home-four-php .news-testimonial .comment{
        float: right;
        text-align: right;
    }
    .page-template-attorney-home-four-php .top-footer .consultation,.page-template-attorney-home-three-php .top-footer .consultation,.page-template-attorney-home-two-php .top-footer .consultation,.page-template-attorney-home-one-php .top-footer .consultation{
        padding-right: 15px;
    }
    .page-template-attorney-home-four-php .top-footer,.page-template-attorney-home-three-php .top-footer {
        padding-top: 13px;
    }
    #footer.footer-type-one .navbar-nav > li:FIRST-CHILD,.top-footer .navbar-collapse{
        padding-left:0;	
    }

    .page-template-attorney-home-one-php .testimonial #owl-demo-home{
        margin-left: auto;
        margin-right: auto;
    }
    .page-template-attorney-home-one-php .testimonial #owl-demo-home .owl-pagination{
        margin-left: 0;
    }
    .page-template-attorney-home-three .about-us h2,.page-template-attorney-home-three .practice-area h2,.page-template-attorney-home-three .attorney h2,.page-template-attorney-home-three .testimonial h2,.page-template-attorney-home-three .client h2,.page-template-attorney-home-three .hiring-info-detail h2{
        font-size: 36px;
        line-height: 1.2;
        margin: 10px 0 0;
    }
    .page-template-attorney-home-four .about-us h2,.page-template-attorney-home-four .practice-area h2,.page-template-attorney-home-four .attorney h2,.page-template-attorney-home-four .testimonial h2,.page-template-attorney-home-four .client h2,.page-template-attorney-home-four .hiring-info-detail h2{
        margin-bottom: 15px;
        line-height: 1.2;
        margin-top: 0;
    }
    .page-template-attorney-home-four-php  .testimonial-box1:after{
        left: -28px;
        top: -50px;
    }
    .activity.buddypress .featured-blog-list figure{
        float: left;
        margin-right: 20px;
    }
    .activity.buddypress .featured-blog-list .featured-blog-descpt{
        float: none;
        width: auto;
        overflow: hidden;
        padding-top: 0;
    }
    .activity.buddypress .featured-blog-list li{
        padding-bottom: 26px;
        margin: 0;
    }
    .activity.buddypress .featured-blog-list li p{
        margin-bottom: 0;
    }
    .activity.buddypress .follow-us-list li{
        margin-left: 6px;
    }
    .activity.buddypress .follow-us-list li:FIRST-CHILD{
        margin-left: 0;
    }    
    .page-template-attorney-about-us #accordion .panel-body{
        padding-left: 0;
    }
    .page-template-attornies-one-php .attorney-listing,.page-template-attornies-two-php .attorney-listing{
        padding-bottom: 60px;
    }

    .contact-form-form .heading-details{
        line-height: 1.2;
    }
    .page-template-attorney-blog-two-php .blog-three .blog-information .more-btn{
        overflow: hidden;
    }
    .page-template-attorney-blog-two-php .blog-three .blog-comment li{
        margin: 0;
    }
    .page-template-attorney-blog-two-php .blog-three .blog-comment li.heart-status{
        margin: 0 10px;
    }
    .single-testimonial .blog-comment li{
        margin-left: 0;
        margin-right: 0;
    }
    .single-testimonial .blog-comment li.heart-status{
        margin-left: 2px;
        margin-right: 2px;
    }
    .single-testimonial .blog-listing.testimonial {
        padding-top:0px; 
        padding-bottom:20px;
    }
    .single-testimonial .blog-details-page .blog-listing-pics{
        float: left;
    }
    .single-testimonial .blog-details-page .pagination-list{
        clear: both;
        border: none;
    }
    .single-testimonial .blog-details-page .blog-information{
        overflow: hidden;
    }

}

@media all and (min-width:768px){

    #footer .top-footer{
        background: #e7ebf3;
        padding-top: 13px;
    }
    .page-template-attorney-home-one-php #footer .top-footer,.page-template-attorney-home-two-php #footer .top-footer,.page-template-attorney-home-three-php #footer .top-footer,.page-template-attorney-home-four-php #footer .top-footer{
        background: none;
    }
    .page-template-attorney-home-one-php #footer .top-footer{
        padding-top: 0px;    
    }
    .contact-name-email span{
        float: left;
        width: 49%;
        margin-left: 2%;
    }
    .contact-name-email span:first-child{
        margin-left: 0;
    }


}

@media all and (max-width:991px){
    .page-template-attorney-home-two-php .attorney .attorney-listing figure {
        height: auto;
    }
}





