/*!
 * Theme v1.0.0 
 * Copyright 2015-2016 Theemon.com
 */
@skinColor:#ee3135; //Change here your theme Color
@fontFamily:'Exo', sans-serif; //Change here your theme Font family
@headingColor:#2b2a2f;
@gryColor:#63606d;
@white:#fff;
@lightGray:#eee;
.transition_effect{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.slide-heading, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: @fontFamily !important;
}
//TEXT COLOR
.practice-area .more-btn, .news-testimonial .posted-law span, .more-btn ,.fa-angle-right,.error-value,#footer .get-theme a,.our-principles .index-box span,h3.panel-title a .fa-angle-down,.detail-submit,.blog-details-page .more-btn,.blog-two-page .blog-information .fa-chevron-right,.blog-details-page .fa-chevron-right,.faq-listing .question-label,.yearwise-listing h3 span,.more-btn.more,.happy-clients .taging-client span,.directional-list li a .fa-angle-right, .directional-list li a .fa-dot-circle-o,.accordian-block .panel-heading a .fa-caret-up,.toggle-block .toggle-head h4 a .fa-minus,.category-widget .panel-heading .fa-minus-square-o,.page-widget .nav-pills > li > a .fa-angle-right ,.practice-listing li a:hover ,.practice-listing li a:hover .fa-chevron-right ,.consultation > a:hover,.contact-number:hover,.consult-btn ,.fa-chevron-left, a.fa-chevron-left,.comment-blog-listing .user-comment .comment-status li a,.fk-stars i,.stars-list li.active .fa.fa-star,.blog-one-page .blog-admin-info li a:hover,.tags .tag-list li a:hover,.blog-two-page .blog-comment li a:hover,.blog-details-page .user-blog-detail .more-btn,.taging-client a,.consulation .icon-consult.fa-mobile,.mapmarker,.bin .fa-times,#footer .copy-right a:hover{
    color:@skinColor !important; .transition_effect;
}
.news-testimonial .testimonial-inner::before{
    color:darken(@skinColor ,40%) !important;
}
//BACKGROUND COLOR
.blog-page .blog-listing .more-btn:hover,.view-btn:hover,.contact-attorney:hover,.detail-submit:hover,.slider-code .carousel-indicators .active,.more-btn.btn-footer:hover,.homepage .banner-slider .btn-effect,.tp-bullets.preview2 .bullet,body .faq-comment .go-btn:hover,
.homepage .banner-slider .item-2 .btn.btn-default:hover ,.homepage .banner-slider .item-3 .btn.btn-default:hover,.history-content .play-icon

{
    background:@skinColor !important; .transition_effect;
}
.about-us .nav-tabs li.active:after,.about-us .attorney-listing h2.at-h2:after,.news-testimonial .date:after, .about-tag:after,.practice-area .h3:after,#footer .practice-footer h3:after,.underline-label:after,.block-divisor > span > span,.tab-widget .nav-tabs li.active a,.tag-widget-list li.active a,.active-pager .right-paging li a,.active-pager .pagination li.active a,.slider-code .left.carousel-control, .slider-code .right.carousel-control ,.owl-pagination .owl-page.active span,.faq-comment .go-btn,.about-us .nav-tabs lihover:after,.about-us .nav-tabs li:hover:after, .about-us .attorney-listing h2.at-h2:hover:after,.btn.btn-default:hover, .btn.btn-default:focus,.history-content .play-icon:hover {
    background:darken(@skinColor ,20%) !important ; .transition_effect;
}


//BORDER COLOR
.homepage-1 .arrow-more,.hiring-info .btn-footer,.blog-page .blog-listing .more-btn:hover,.view-btn:hover,.contact-attorney:hover,.active-pager .pagination li.active a,.detail-submit:hover,.tp-bullets.preview2 .bullet:hover, .tp-bullets.preview2 .bullet.selected,.navbar-nav>li>.dropdown-menu, .blog-sidebar #bp-login-widget-submit:hover, #bkbtndiv .apcal_btn-primary:hover,
#search-members-form input[type="submit"]:hover, .buddypress #buddypress div.item-list-tabs ul li a:hover, .buddypress #buddypress div.item-list-tabs ul li.current a,#calendar .fc-state-hover .fc-button-inner,#calendar .fc-state-hover,
.woocommerce a.button:hover, .woocommerce input.button:hover

{
    border-color:@skinColor !important;
}
.blog-sidebar #bp-login-widget-submit , #bkbtndiv .apcal_btn-primary, #search-members-form input[type="submit"] ,.woocommerce a.button {
  border:1px solid @gryColor;
}

#search-members-form input[type="text"]{
   border:1px solid @gryColor !important;
}

#calendar .fc-event-inner {
  border:1px solid @lightGray;
}


// svg Icon color
.change-fill{
    fill:@skinColor; .transition_effect;
}
.stroke-color{
    stroke:@skinColor; .transition_effect;
}
.change-fill-bg{
    fill:darken(@skinColor ,20%) !important ;
}
.homepage .banner-slider .btn-effect:hover .change-fill {
    fill:darken(@skinColor ,20%) !important ; .transition_effect;
}

.theme-setting{
    background-color: @skinColor;
}
#header .navbar-nav .sub-menu .sub-menu{
    border-bottom-color: @skinColor;              

}
.blog-admin-info li.admin a:hover span, .blog-sidebar #bp-login-widget-submit,  #bkbtndiv .apcal_btn-primary, #search-members-form input[type="submit"],.woocommerce a.button
{
    color: @skinColor;
}
aside .searchform input[type="submit"],aside .searchform input[type="text"]{
    border-color: @skinColor;  
}

.widget a:hover{
    color:@skinColor; 
}
.page-links a{
    background: @skinColor;
    border: 1px solid @skinColor;
}
#calendar .fc-state-active {
     border-bottom: 1px solid #f23f2b;
    
    border-top: 1px solid #f23f2b;
}

#calendar .fc-state-active .fc-button-inner {
   border-right: 1px solid #f23f2b;
    
    border-left: 1px solid #f23f2b;
}
.page-links a:hover{
    color: @skinColor;
}
.blog-information .post-password-form input[type="submit"],.comment-form .form-submit input[type="submit"],#cancel-comment-reply-link,form .logged-in-as a{
    color: @skinColor;
}
.blog-information .post-password-form input[type="submit"]:hover,.comment-form .form-submit input[type="submit"]:hover{
    background:@skinColor;
    border-color:@skinColor;
}
td a, th a {
color:@skinColor;
}
.comment-blog-listing .user-comment h5 b a:hover,.comment-blog-listing .user-comment .comment-edit-link{
    color: @skinColor;
}

/*!------------------------------------
Theme integration issues fixing
@scince attorney 1.0.0 
---------------------------------------*/
.blog-information .more-btn:hover {
    border-color: @skinColor !important;
    background: @skinColor !important;
}

/*---------- Revolution Slider -----------*/
.slider-one .banner-slider .btn-effect.slider-two-btn:hover,.slider-two .banner-slider .btn-effect.slider-two-btn:hover{
    background:@skinColor !important;
}
.slider-two .banner-slider h1::before,.slider-two .banner-slider button,.slider-three .banner-slider h1::before{
background:@skinColor !important;
}
.slider-three .rev_slider_testimonial .testimonial_by:hover,  #members-list .item-title a:hover{
color:@skinColor !important;
}

.posted-law a {
color:@skinColor;
}
.page-template-attorney-home-two-php .practice-law-list .arrow-more:hover,.page-template-attorney-home-two-php .attorney .arrow-more:hover{
background:@skinColor !important;
}
.page-template-attorney-home-two-php .fa-mobile, .page-template-attorney-home-two-php .fa-envelope-o{
color:@skinColor;
}
.page-template-attorney-home-three-php .about-us .phone-number,.page-template-attorney-home-three-php .btn-grey,#footer.footer-type-three h3::after {
  background:@skinColor;
}
.page-template-attorney-home-two-php .about-us .more-btn:hover,.page-template-attorney-home-four-php .about-us .more-btn:hover,.page-template-attorney-home-four-php .testimonial-box1:after, #members-list .item-title .update a, #object-nav ul li:hover a,
public:hover {
    color: @skinColor !important;
}
.page-template-attorney-home-four-php #profile .more-btn:hover, .blog-sidebar #bp-login-widget-submit:hover, #bkbtndiv .apcal_btn-primary:hover,
#search-members-form input[type="submit"]:hover, .buddypress #buddypress div.item-list-tabs ul li a:hover,
.buddypress #buddypress div.item-list-tabs ul li.current a , #calendar .fc-state-default .fc-button-inner:hover,
#calendar .fc-state-active, #calendar .fc-state-active .fc-button-inner, .woocommerce a.button:hover
{
background:@skinColor !important;
color:#fff !important ;
}
.page-template-attorney-home-four-php #profile .more-btn:hover i{
color:#fff !important ;
}
.page-template-attorney-home-four-php .news-testimonial .more-btn{
    color:darken(@skinColor ,30%) !important;
}
.hiring-info-container .more-btn:hover,.hiring-info-container .more-btn:hover i{
color:#fff !important ;
}


.buddypress .activity-header a:first-child  , #members-list .item-title a{
  color:@headingColor !important;
}

.buddypress .feed a  {
   background:none;
}

.blog-sidebar .heading-details, .blog-sidebar .featured-blog-descpt p {
  font-family: @fontFamily;
}

.buddypress #members-dir-list div.pagination .pagination-links a:hover ,
.buddypress #members-dir-list div.pagination .pagination-links span:hover {
    background:@lightGray;
}


#search-members-form input[type="text"]{
  background:@white !important;
}

#calendar .fc-event-inner .fc-event-time,
#calendar .fc-event-inner .fc-event-title{
  color:@headingColor;
}

// #calendar .fc-state-highlight {
  // background:@lightGray;
// }

#object-nav ul li a {
  color:@headingColor;
} 

#item-body .data a {
  color: darken(@lightGray ,35%) ;
}


.buddypress #buddypress div.item-list-tabs ul li a {
  color:@skinColor;
}

.buddypress .activity-header a:hover, #members-list .item-title a:hover,.buddypress #post-mention a ,.buddypress #aw-whats-new-submit,.apcal_modal-body #secdiv .apcal_btn{
    color:@skinColor !important;
}
.bp-login-widget-user-links a{
color:@skinColor !important;
}
.buddypress #post-mention a:hover,.buddypress .prev.page-numbers,.buddypress .next.page-numbers,.buddypress .page-numbers.current,.buddypress #aw-whats-new-submit:hover,.apcal_modal-body #secdiv .apcal_btn:hover{
background:@skinColor !important;
 border: 1px solid @skinColor !important;
}
.woocommerce .star-rating span::before{
color:@skinColor;
}
.woocommerce-pagination .page-numbers li .prev.page-numbers,.woocommerce-pagination .page-numbers li .next.page-numbers,.woocommerce-pagination .page-numbers li .page-numbers.current{
background:@skinColor !important;
border: 1px solid @skinColor !important;
}
.woocommerce .myaccount_user a,.woocommerce .addresses a.edit,.woocommerce input[type="submit"]{
color:@skinColor;
}
.woocommerce input[type="submit"]:hover{
border: 1px solid @skinColor ;
background:@skinColor ;
}

.rev_slider_wrapper .tp-bullet{
background:@skinColor ;
border:2px solid @skinColor ;
}
.rev_slider_wrapper .tp-bullet:hover,.rev_slider_wrapper .tp-bullet.selected{
background:#fff;
}