/*
 * Theme v1.0.0
 * Copyright 2015-2016 Theemon.com
 */

.blog-sidebar #bp-login-widget-form label {
    max-width: 69px;
    width: 100%;
}

.blog-sidebar #bp-login-widget-form input[type="text"], .blog-sidebar #bp-login-widget-form input[type="password"] {
    padding: 2px 5px;
    height: 32px;
    width: 71%;
    margin: 0 0 6px;
    box-shadow: none;
    border-radius: 0;
}

.buddypress .activity-list li.mini .activity-avatar img.avatar {
    width: 50px !important;
    height: 50px !important;
    margin-left: 0 !important;
}

.blog-sidebar #bp-login-widget-form .forgetmenot label {
    max-width: 100%;
    position: relative;
    margin-bottom: 10px;
}


.blog-sidebar #bp-login-widget-form .forgetmenot label input[type="checkbox"] {
    margin-right: 10px;
}

.buddypress .activity-header a:first-child {
    text-transform: capitalize;
}

.buddypress #buddypress div.item-list-tabs ul li a {
    padding: 0 18px;
    text-transform: uppercase;
    line-height: 40px;
    border-width: 1px;
    border-style: solid;
    margin-right: 5px;
    opacity: 1;
}
.buddypress #buddypress div.item-list-tabs ul li.current a {
    opacity: 1;
}

#buddypress div#subnav.item-list-tabs ul li.last {
    margin-top: 6px;
}

.buddypress #buddypress div.item-list-tabs ul li a > span {
    padding: 4px 6px;
}

.buddypress #activity-filter-select  select, .members #members-order-select select {
    border: 1px solid #eaeaea !important;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    /*	width: 100px;*/
    text-overflow: "";
    border-radius: 2px;
    padding: 5px;
}

.buddypress #activity-filter-select label {
    font-size: 15px;
    margin-right: 9px;
}

.blog-sidebar #searchform input[type="text"] {
    padding: 2px 5px;
    height: 32px;
    width: 100%;
    margin: 0 0 6px;
    box-shadow: none;
    border-radius: 0;
}

.blog-sidebar #searchform .add-on {
    top: 0;
}

#calendar .fc-header .fc-button {
    margin-bottom: 0;
    margin-top: 3px;
    vertical-align: middle;
}

#calendar .fc-header-title h2 {
    margin-bottom: 6px;
    margin-top: 4px;
}

#calendar .fc-event-inner {
    background-color: none !important;
    margin-bottom: 2px;
}

#calendar .fc-event-skin, #calendar .fc-event-inner {
    background-color: transparent !important;
}

#calendar .fc-header td, #calendar .fc-header, #calendar .fc-border-separate {
    border: none;
}
#calendar .fc-grid th {
    padding: 15px 0;
}
#calendar .fc-event-skin {
    border-color: transparent !important;
}
#calendar .fc-border-separate th, #calendar .fc-border-separate td {
    border-right: 0;
}
#post-370 .blog-information {
    padding: 10px 0;
}

#post-370 .blog-information h3 {
    text-align: center;
    margin: 20px 0;
}
#bookinginstructions, #bkbtndiv {
    margin-bottom: 20px;
}

#calendar .fc-state-hover .fc-button-inner {
    /*border:1px solid;*/
}

.fc-state-active {

}

.fc-border-separate th:first-child, .fc-border-separate td:first-child {
    border-left: medium none;
}
#bkbtndiv .apcal_btn-primary {
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    margin-top: 10px;
}

.buddypress #members-dir-list div.pagination .pagination-links a, .buddypress #members-dir-list div.pagination .pagination-links span {
    color: #ff0000;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    padding: 5px 16px;
    text-transform: uppercase;
    border: 1px solid #ddd;
}

.buddypress #members-dir-list div.pagination .pagination-links a.next, .buddypress #members-dir-list div.pagination .pagination-links a.prev {
    font-size: 14px;
    padding: 3px 16px;
}

.buddypress #members-dir-list div.pagination .pagination-links a.next, .buddypress #members-dir-list div.pagination .pagination-links a.prev {

}

#member-dir-count-top {
    margin-top: 7px;
}

#members-list .item-title a {
    text-transform: capitalize;
}

#members-list .item-title .update a, #members-list .item-title span.update {
    font-size: 13px !important;
}

#search-members-form input[type="text"] {
    border-radius: 0;
    box-shadow: none;
    height: 32px;
    margin: 0 0 6px;
    padding: 2px 5px;
    width: 100%;

    font-size: 13px !important;
}

#search-members-form input[type="submit"] {
    height: 32px;
}

#calendar .fc-state-highlight {
    background: #eee;
}

#item-body .label, #item-body .data {
    text-align: left;
}

#buddypress #members-list .item-title {
    margin-bottom: 5px;
}

.blog-sidebar #bp-login-widget-submit, #bkbtndiv .apcal_btn-primary, #search-members-form input[type="submit"] {

}

.login  #username, .login  #password {
    height: 42px;
    border: 1px solid #e9e9ee;
    padding: 2px 5px;
}

.login  .button {
    border: 1px solid #63606d !important;
    color: #f23f2b !important;
    background: none !important;
}

.woocommerce input.button {
    margin-right: 10px;
}
.login  .button:hover {
    background: #f23f2b none repeat scroll 0 0 !important;
    color: #ffffff !important;
}
.lost_password a {
    color: #2b2a2f;
}
.lost_password a:hover {
    color: #f23f2b !important;
}

.woocommerce a.button {
    background: none;
}


.buddypress #buddypress div.item-list-tabs ul li a {
    border-color:#63606d ;
    background: none;
}
#bp-login-widget-rememberme,.woocommerce #rememberme{
    position: relative;
    top: 1px;
}
#ship-to-different-address-checkbox,#bp-login-widget-rememberme,.woocommerce #rememberme{
    -moz-appearance:checkbox;  
    -webkit-appearance:checkbox;
}
.buddypress .activity-header a.activity-time-since,.buddypress .activity-header a.activity-time-since:hover{
    color:#94949d !important;
}
#buddypress a.activity-time-since:hover{
    text-decoration: none !important ;
}
.buddypress .activity-header a, #members-list .item-title a {
    color: #2b2a2f !important;
}
.buddypress #post-mention a,.buddypress #aw-whats-new-submit,.apcal_modal-body #secdiv .apcal_btn{
    border: 1px solid #63606d !important;
}
.buddypress #post-mention a:hover,.buddypress #aw-whats-new-submit:hover,.apcal_modal-body #secdiv .apcal_btn:hover{
    color:#fff !important;
}
.buddypress .page-numbers,.buddypress .page-numbers.current{
    padding: 9px 19px !important ;
}
.buddypress .prev.page-numbers,.buddypress .next.page-numbers,.buddypress .page-numbers.current{
    color:#fff !important;
}
.buddypress .prev.page-numbers,.buddypress .next.page-numbers{
    padding: 7px 19px !important ;
}
.buddypress .page-numbers{
    background: #eceff3;
    color: #2b2a2f !important;
    border: 1px solid #dddddd;
}
#addappointment .icon-calendar{
    display: none;
}
.buddypress #whats-new{
    height: 90px !important;
}
#calendar .fc-event-inner .fc-event-time, #calendar .fc-event-inner .fc-event-title {
    color: #008000 !important;
}
#addnewappointment .icon-remove,#appointment-form2 .icon-remove{
    background: none;
}
#addnewappointment .icon-remove:before,#appointment-form2 .icon-remove:before{
    color: #94949d !important;
    content: "X";
    font-size: 14px;
    font-style: normal;
    position: absolute;
}
.apcal_modal-body #secdiv .apcal_btn{
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin-top: 7px;
}
.apcal_modal-body #secdiv strong{
    line-height: 2;
}
.apcal_modal-body #secdiv .apcal_btn i{
    display: none;
}
.apcal_modal-body #firdiv .div_calendar iframe{
    height: 210px !important ;
}
.apcal_modal-body table td{
    padding: 5px 0;
}
.apcal_modal-body table td .apcal_btn i{
    display: none;
}
.apcal_modal-body #secdiv #service,.woocommerce-ordering select{
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
}
.woocommerce-ordering select{
    padding-left: 5px;
    height: 30px;
}
.woocommerce-pagination .page-numbers li{
    height: 40px;
    width: 40px;
}
.woocommerce-pagination .page-numbers li a,.woocommerce-pagination .page-numbers li span{
    padding: 0 !important;
    display: block !important;
    background: none !important;
    line-height: 40px !important;
}
.woocommerce-pagination .page-numbers li .prev.page-numbers,.woocommerce-pagination .page-numbers li .next.page-numbers,.woocommerce-pagination .page-numbers li .page-numbers.current{
    color: #fff !important;
}
.woocommerce-pagination .page-numbers li .page-numbers{
    background: #eceff3 !important ;
    border: 1px solid #eceff3 !important;
    color: #2b2a2f !important;
}
input[type="tel"]{
    border: 1px solid #e9e9ee;
}
#customer_details input[type="text"],#customer_details input[type="email"],#customer_details input[type="tel"],#customer_details select{
    height: 35px;
    padding-left:5px;
    padding-right: 5px;
}
.woocommerce-shipping-fields #order_comments{
    height: 100px;
    padding: 5px;
}
.woocommerce input[type="text"],.woocommerce input[type="email"],.woocommerce input[type="password"],.woocommerce input[type="tel"]{
    height: 35px;
    border: 1px solid #e9e9ee;
    padding: 0 5px;
}
.woocommerce input[type="submit"]{
    background: none;
    border:1px solid #63606d;
}
.woocommerce input[type="submit"]:hover{
    color: #fff;
}
.woocommerce-cart table.cart input{
    border:1px solid #e9e9ee;   
}
.woocommerce table.cart .coupon #coupon_code{
    width: 104px !important;  
    height: 35px !important;
}
.woocommerce-cart .cart-collaterals .cart_totals table{
    border-left: 1px solid #d2d2d2;
}

@media all and (min-width:320px) and (max-width:379px){

    .woocommerce-cart .woocommerce table.shop_table td{
        padding: 6px 2px;
    }
    .woocommerce-cart .woocommerce table.shop_table th{
        padding: 9px 2px;
    }
    .woocommerce-cart .blog-details-page .blog-information {
        padding-left: 0px;
    }



}

@media all and (min-width:320px) and (max-width:767px){

    .blog-information .apcal_modal{
        margin: -150px 0 0 -155px;
        position: absolute;
        top: 50%;
        width: 310px;
        height: 300px;
        overflow: auto;
    }
    .blog-information .apcal_modal #firdiv,.blog-information .apcal_modal #secdiv{
        float: none !important ;
        margin: 0 auto;
    }
}