.vc_row_max_width {
    max-width: 1170px;
    margin: 0px auto;
}
.full-width .vc_row_max_width {
    max-width: none;
}
body .vc_row {
    margin-left: 0;
    margin-right: 0;
}

/*********************************************
 *   Custom Style
 *********************************************/
.page-template-attorney-visual-composer-php .tp-simpleresponsive .caption, .page-template-attorney-visual-composer-php .tp-simpleresponsive .tp-caption {
    position: absolute;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
    position: absolute;
}