.ad-iu-wrapper {
	position: relative;
}

.ad-iu-url {
	height: 35px;
	width: 85%;
}

.ad-iu-image-wrapper {
	position: absolute;
	left: 35em;
	top: -40px;
	background-color: #bbb;
	padding: 5px 5px 2px 5px;
}

.ad-iu-btn {
	background: none repeat scroll 0 0 #f7f7f7;
	border-color: #ccc;
	box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #555;
	vertical-align: top;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	height: 36px;
	line-height: 35px;
	margin: 0;
	padding: 0 10px 1px;
	text-decoration: none;
	white-space: nowrap;
}

.ad-iu-image {
	max-height: 120px;
	max-width: 120px;
}

.ad-iu-remove {
	display: block;
	/*font-size: 20px;*/
	/*height: 32px;*/
	left: 0px;
	position: absolute;
	top: 0;
	/*width: 40px;*/
	cursor: pointer;
	color: #fff;
	background-color: #ff0000;
	font-weight: bold;
	padding: 0px 5px;
}