/*
Theme Name: Burke child
Theme URI: http://desktopsolutions.com
Author: Desktop Solutions
Author URI: http://desktopsolutions.com/
Description: Child Theme for Burke Law
Version: 1.0
License: 
License URI: 
Text Domain: attorney-child
Template: attorney
Tags:custom-colors,custom-header,full-width-template,post-formats,sticky-post,theme-options
*/
/*------27-02-2019--------------*/

.fontlink{font-size:0 !important;}

.fonttag{font-size: 0 !important;
    height: 60px ;    
    width: 55px;}
.fonttag1{font-size: 0 !important;
    height: 60px ;    
    width: 90px;}

.fa-mobile::before {
    content: "\f10b";
    font-size: 60px;
}
.fa-envelope-o::before {
    content: "\f10b";
    font-size: 60px;
}
.fa-map-marker:before{
	content:"\f041"	;
	font-size: 60px;
}
.socialtag{font-size: 0 !important;   
    width: 22px;}
.socialtag1{font-size: 0 !important;   
    width: 18px;}
.fa-twitter::before {
    content: "\f099";
	font-size: 18px;
}
.fa-facebook::before {
    content: "\f09a";
	font-size: 18px;
}
.fa-linkedin-square::before {
 	content: "\f08c";
	font-size: 18px;
}
.fa-angle-down::before {

    content: "\f107";
    font-size: 14px;

}
#wpcf7-f232-p33-o1 .wpcf7-form label{display: none;}
a {
    text-decoration: underline !important;
    text-decoration-color: transparent !important;

}
#wpcf7-f232-p111-o1 .wpcf7-form label{display: none;}
#wpcf7-f232-p386-o1 .wpcf7-form label{display: none;}
#wpcf7-f232-p98-o1 .wpcf7-form label{display: none;}
#wpcf7-f232-p99-o1 .wpcf7-form label{display: none;}
#wpcf7-f232-p100-o1 .wpcf7-form label{display: none;}
#wpcf7-f232-p112-o1 .wpcf7-form label{display: none;}
.practice-listings-container .container h5{font-family: 'Exo', sans-serif !important;
font-size: 14px !important;
color: #79797a;
display: block;
font-weight: normal;
text-transform: none !important;
line-height: 36px;}
.attorney-listing .container h5{font-family: 'Exo', sans-serif !important;
font-size: 14px !important;
color: #79797a;
display: block;
font-weight: normal;
text-transform: none !important;
line-height: 36px;}
.contact-form-form .container h5{font-family: 'Exo', sans-serif !important;
font-size: 14px !important;
color: #79797a;
display: block;
font-weight: normal;
text-transform: none !important;}