/*
Theme Name: Attorney

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

http://codex.wordpress.org/Right_to_Left_Language_Support
*/

@import "assets/css/bootstrap-rtl.css";
body {
	direction: rtl;
	unicode-bidi: embed; 
}
#header.header-type-two .fa-phone-square {
    float: left;
} 
.page-template-attorney-home-two-php .fa-mobile, .page-template-attorney-home-two-php .fa-envelope-o {
    float: right;
}
.page-template-attorney-home-two-php .about-us .phone-detail {
    float: right;
}
.page-template-attorney-home-two-php .practice-area .h3:after {
    right: 0;
}
#stcpDiv {
    display: none;
}
#owl-two, .page-template-attorney-home-two-php .attorney {
    direction: ltr;
}
.blog-one-page .blog-admin-info ul {
    padding-right: 0;
}
.blog-one-page .blog-admin-info li {
    float: right;
}
.underline-label::after {
    right: 0;
    left: auto;
}
.blog-sidebar ul {
    padding-right: 0;
}
.add-on {
    left: 10px;
    right: auto;
}
.blog-search-box {
    padding-left: 0;
    padding-right: 20px;
}
.our-services .fa-chevron-right {
    display: none;
}
.featured-blog-descpt {
    float: left;
}
.featured-blog-list li figure {
    float: right;
}
#footer.footer-type-one .consultation > a span {
    float: left;
    padding-right: 10px;
    padding-left: 0;
}
#footer.footer-type-one .consultation > a span i {
    display: none;
}
#footer.footer-type-one .nav {
    padding-right: 0;
}
#footer .navbar-nav li {
    float: right;
}
#footer.footer-type-one .icon-location {
    float: right;
}
#footer .icon-call {
    float: right;
}
#footer.footer-type-one .address-info {
    width: 80%;
}
#footer.footer-type-one .contact-number span {
    width: 75%;
}
.media-listing li {
    float: right;
}
.page-template-attorney-home-one-php .hiring-info .col-md-offset-1 {
    margin: 0;
}
#owl-demo2, #owl-demo1 {
    direction: ltr;
}
.page-template-attorney-home-three-php .attorney .owl-theme .owl-controls {
    right: auto;
    left: 0;
}
.page-template-attorney-home-three-php .attorney .about-tag:after {
    right: 0;
    left: auto;
}
.page-template-attorney-contact-php .consulation .col-md-offset-1 {
    margin: 0;
}
.faq-listing .question-label {
    left: auto;
    right: 16px;
}
.faq-listing-list {
    padding-right: 5.6%;
    padding-left: 15px;
}
html body .faq-comment .question-input, .faq-comment .go-btn {
    float: right;
}
.attorney-listing .attorney-information .media-listing {
    float: left;
}
.attorney-listing .attorney-name-label {
    float: right;
}
.yearwise-listing {
    direction: ltr;
}
.yearwise-listing .col-xs-12,  .yearwise-listing .col-sm-6 {
    float: left;
}
.yearwise-listing h3, .yearwise-listing p {
    text-align: right;
}
#header.header-type-two .logo {
    border-left: 1px solid #4e4d47;
    border-right: none;
}
#header.header-type-three .nav {
    padding-right: 0;
}
#header.header-type-three .col-md-offset-1 {
    margin: 0;
}
#header .consultation span .fa-chevron-right {
    display: none;
}
.page-template-attorney-home-two-php .attorney h3, .page-template-attorney-home-two-php .attorney p {
    text-align: right;
}